<div class="wrapper-page animated fadeInDown">
  <div class="panel panel-color panel-primary">
    <div class="panel-heading">
      <h3 class="text-center m-t-10">Create a new Account</h3>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal m-t-40' }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.text_field :first_name, placeholder: 'First name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group text-right">
        <div class="col-xs-12">
          <%= f.submit 'Register', class: 'btn btn-purple w-md' %>
        </div>
      </div>

      <div class="form-group m-t-30">
        <div class="col-sm-12 text-center">
          <%= link_to 'Already have an account?', new_user_session_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>
