<h1><%= t('you_have_a_new_invoice_due') %> - <%= @account.name %></h1>

<p><%= t('hello') %> - <%= @user.full_name %></p>

<p><%= t('your_link_to_your_invoice_is_below') %></p>

<%= link_to t('your_invoice'), payment_url(@payment) %>
