<h1><%= t('your_account_has_been_created') %></h1>

<p><%= t('congratulations_your_account_has_been_created') %></p>

<p><%= t('below_are_your_account_information') %></p>

<ul>
  <li><%= t('first_name') %>: <%= @user.first_name %></li>
  <li><%= t('last_name') %>: <%= @user.last_name %></li>
  <li><%= t('email') %>: <%= @user.email %></li>
  <li><%= t('password') %>: <%= @password %></li>
</ul>

<p><%= t('to_login_go_to_this_url') %>: <a href="http://www.schoolbookshq.com/users/sign_in">http://www.schoolbookshq.com/users/sign_in</a></p>
