<div class="container user-initial-setup">
  <div class="row">
    <div class="col-sm-12 header-row">
      <h2 class="text-center">Hi <%= @user.full_name %></h2>
      <h4 class="text-center">In order for you to continue, you must choose from the following</h4>
    </div>
  </div>

  <div class="row button-row">
    <div class="col-sm-12">
      <div class="text-center">
        <%= button_tag 'Enter in Account Code', class: 'btn btn-lg btn-primary', data: { toggle: 'modal', target: '#enter-in-account-code-modal' } %>
      </div>

      <h3 class="text-center">OR</h3>

      <div class="text-center">
        <%= button_tag 'Create a New Account', class: 'btn btn-lg btn-pink', data: { toggle: 'modal', target: '#create-a-new-account-modal' } %>
      </div>
    </div>
  </div>

  <div class="row button-row">
    <div class="col-sm-12">
      <h5 class="text-center">If entering in account code, the code should have been provided by your school. If you do not have it, contact your school for the code.</h5>
    </div>
  </div>
</div>

<div class="modal fade" id="enter-in-account-code-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center"><%= t('enter_in_account_code') %></h3>

        <%= form_tag user_initial_setup_assign_user_to_accounts_path, { class: 'form-horizontal' } do %>
          <div class="form-group">
            <%= label_tag :code, t('account_code'), class: 'control-label col-lg-3' %>
            <div class="col-lg-9">
              <%= text_field_tag :code, nil, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
              <%= submit_tag t('submit'), class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="create-a-new-account-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center"><%= t('create_a_new_account') %></h3>

        <%= render partial: 'accounts/form', locals: { account: Account.new } %>
      </div>
    </div>
  </div>
</div>
