@import "functions";

//*********************
// MIXINS FOR SIZE
//*********************
@mixin size($value) {
  $width: nth($value, 1);
  $height: $width;
  @if length($value) > 1 {
    $height: nth($value, 2);
  }
  @if is-size($height) {
    height: $height;
  }
  @else {
    @warn "`#{$height}` is not a valid length for the `$height` parameter in the `size` mixin.";
  }
  @if is-size($width) {
    width: $width;
  }
  @else {
    @warn "`#{$width}` is not a valid length for the `$width` parameter in the `size` mixin.";
  }
}

//************ mixin size
// bourbon mixin
//
// div{
//  @include size(100%);
//}
// css:
//div{
//  width: 100%;
//  height: 100%;
//}
// div{
//  @include size(200px 100px );
//}
// css:
//div{
//  width: 200px;
//  height: 100px;
//}
@mixin square($size:100%) {
  width: $size;
  height: $size;
}

//************ mixin square size with variables
//
//div {
//  @include square();
//}
// css:
//div{
//  width: 100%;
//  height: 100%;
//}
// div{
//  @include size(200px);
//}
// css:
//div{
//  width: 200px;
//  height: 200px;
//}
//*********************
// MIXINS FOR POSITION
//*********************
// thank you guys for Bourbon
@mixin absolute($sides: null null null null) {
  position: absolute;
  $exact-size: ( top: nth($sides, 1), right: nth($sides, 2), bottom: nth($sides, 3), left: nth($sides, 4));
  @each $side,
  $value in $exact-size {
    @if is-length($value) {
      #{$side}: $value;
    }
  }
}

//************ bourbon mixin position
// div{
//  @include absolute(0 0 0 0);
//}
// css:
//div{
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//}
// div{
//  @include absolute(0 null auto null);
//}
// css:
//div{
//  position: absolute;
//  top: 0;
//  bottom: auto;
//}
@mixin absolute-tl($top:0, $left:0) {
  position: absolute;
  top: $top;
  left: $left;
}

//************ mixin absolute top left
//
//div{
//  @include absolute-tl();
//}
// css:
//div{
//  position: absolute;
//  top: 0;
//  left: 0;
//}
//
//div{
//  @include absolute-tl(10px, 20px);
//}
// css:
//div{
//  position: absolute;
//  top: 10px;
//  left: 20px;
//}
@mixin absolute-br($bottom:0, $right:0) {
  position: absolute;
  bottom: $bottom;
  right: $right;
}

//************ mixin absolute bottom right
//
//div{
//  @include absolute-br();
//}
// css:
//div{
//  position: absolute;
//  bottom: 0;
//  right: 0;
//}
//
//div{
//  @include absolute-br(10px, 20px);
//}
// css:
//div{
//  position: absolute;
//  bottom: 10px;
//  right: 20px;
//}
//************ middle vertical
//

@mixin middle-vertical {
  @include absolute(50% null null null);
  transform: translateY(-50%);
}

// div{
//  @include middle-vertical;
//}
//************ mixin middle horizontal
//
@mixin middle-horizontal {
  @include absolute(null null null 50%);
  transform: translateX(-50%);
}

// div{
//  @include middle-horizontal;
//}
//************ mixin middle center
//
@mixin absolute-center {
  @include absolute(50% null null 50%);
  transform: translate(-50%, -50%);
}

// div{
//  @include absolute-center;
//}
//*********************
// MIXIN FOR TRANSFORM TRANSITION
//*********************
@mixin transition-transform($transition: .15s ease-in-out) {
  will-change: transform;
  transition: transform $transition;
}

//@include transform-transition();
//@include transform-transition(.3s ease);

@mixin transition-willChange($value, $transition: .15s ease-in-out) {
  will-change: $value;
  transition: $value $transition;
}

//@include transition-willChange(opacity);
//@include transition-willChange(opacity, .3s ease-out);


@mixin event-height($height){
  height: $height;
  min-height: $height;
  max-height: $height;
}

@mixin max-sm {
  @media screen and (max-width: #{$sm}) {
    @content;
  }
}

@mixin min-sm {
  @media screen and (min-width: #{$sm}) {
    @content;
  }
}
