<%= form_for payment_item, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <div class="form-group">
    <%= f.label :user_id, t('user'), class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :user_id, current_account.users.active.students.collect { |user| [user.full_name, user.id] }, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.fields_for :itemable do |item| %>
      <%= item.label :price_cents, "#{t('price')} - #{current_account.currency}", class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= item.number_field :price_cents, value: payment_item.itemable.price.to_s, step: 0.01, class: 'form-control' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :due_on, class: 'control-label col-lg-2 col-sm-3' %>
    <div class="col-lg-10 col-sm-9">
      <%= text_field_tag :due_on, payment_item.due_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip }, class: 'pick-a-date-start-end-time form-control', id: 'pick_a_date_start_time' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :paid, class: 'control-label col-lg-2 col-sm-3' %>
    <div class="col-lg-10 col-sm-9">
      <%= f.check_box :paid, class: 'checkbox form-control', style: 'width: 16px;' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.fields_for :note do |n| %>
      <%= f.label :note, t('notes'), class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= n.text_area :body, class: 'form-control' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
