<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('payment_items') %></h3>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('payment_items') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= link_to 'Add a new payment', new_payment_item_path, class: 'btn btn-success m-b-5' %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t('type') %></th>
                    <th><%= t('first_name') %></th>
                    <th><%= t('last_name') %></th>
                    <th><%= t('paid') %></th>
                    <th><%= t('due_on') %></th>
                    <th><%= t('paid_on') %></th>
                  </tr>
                </thead>

                <tbody>
                  <% @payment_items.each do |payment_item| %>
                    <tr class="clickable-row" data-href="<%= edit_payment_item_url(payment_item) %>">
                      <td><%= payment_item.itemable_type %></td>
                      <td><%= payment_item.user.first_name %></td>
                      <td><%= payment_item.user.last_name %></td>
                      <td><%= payment_item.paid? %></td>
                      <td><%= payment_item.try(:due_on).try { |due_on| due_on.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip } %></td>
                      <td><%= payment_item.try(:paid_on).try { |paid_on| paid_on.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
