<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <ul class="nav navbar-nav">
          <li><%= link_to '©2016 Toasterbits, Inc. All Rights Reserved', 'http://www.toasterbits.com' %></li>
        </ul>
      </div>
      <div class="col-lg-4 col-lg-offset-2 col-md-6">
        <ul class="nav navbar-nav">
          <li><a href="#how">How it works</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#clients">Clients</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
