<header>
  <section class="hero">
    <div class="container">
      <div class="row nav-wrapper">
        <nav class="navbar navbar-custom">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to root_path, class: 'navbar-brand' do %>
                SchoolBooks
              <% end %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#how">How it works</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#clients">Clients</a></li>
                <li><%= link_to 'Log In', new_user_session_path %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav> <!-- end nav -->
      </div> <!-- End row -->

      <div class="row hero-content text-center">
        <h1>SchoolBooks - Cloud Based Student Information System</h1>
        <h4 style="color: white;">Manage your schools with ease</h4>
        <div id="macbook">
          <div id="tour" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#tour" data-slide-to="0" class="active"></li>
              <li data-target="#tour" data-slide-to="1"></li>
              <li data-target="#tour" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              <!-- slide item -->
              <div class="item active">
                <%= image_tag 'landing/stock1.jpg', alt: 'slide-img' %>
              </div>
              <!-- slide item -->
              <div class="item">
                <%= image_tag 'landing/stock2.jpg', alt: 'slide-img' %>
              </div>
              <!-- slide item -->
              <div class="item">
                <%= image_tag 'landing/stock3.jpg', alt: 'slide-img' %>
              </div>
            </div> <!-- /.carousel-inner -->

          </div> <!-- /#tour -->
        </div>
      </div>
    </div> <!-- end container -->
  </section> <!-- end hero -->
</header>
