<% roles.each do |role| %>
  <div class="manage-role-table <%= "manage-role-table-id-#{role.id}" %>">    
    <%= form_tag role_path(role.id), method: :patch, class: "form-inline manage-role-row", remote: true do %>
      <%= hidden_field_tag :user_id, user.id %>
      <div class="form-group">
          <input name="role[name]" class="form-control" id="exampleInputEmail2" placeholder="<%= role.name %>", value="<%= role.name %>">
      </div>
        
      <div class="form-group m-l-10">
        <label class="cr-styled">
            <% if role.default %>
              <%= check_box :role, :default, { checked: true } %>
            <% else %>
              <%= check_box :role, :default, { checked: false } %>
            <% end %>
            <i class="fa"></i> 
            Default
        </label>
      </div>
      <button type="submit" class="btn btn-success m-l-10">Update</button>
    <% end %>
    <%= link_to "Destroy", role_path(role), method: :delete, class: "manage-roles-delete-btn btn btn-danger m-l-10", remote: true %>
  </div>
<% end %>
