<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('all_users') %></h3>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body p-t-0">
          <div class="input-group">
            <input type="text"
                   id="user-search-input"
                   name="example-input1-group2"
                   class="form-control"
                   placeholder="<%= t('search') %>"
                   value="<%= @search_term %>"
                   data-controller-name="users">
            <span class="input-group-btn">
              <button type="button" id="user-search-input-btn" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('users') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t('first_name') %></th>
                    <th><%= t('last_name') %></th>
                    <th><%= t('email') %></th>
                    <th><%= t('pricing_plan') %></th>
                    <th><%= t('roles') %></th>
                    <th><%= t('active') %></th>
                  </tr>
                </thead>

                <tbody>
                  <% @users.each do |user| %>
                    <tr class="clickable-row" data-href="<%= user_url(user) %>">
                      <td><%= user.first_name %></td>
                      <td><%= user.last_name %></td>
                      <td><%= user.email %></td>
                      <td><%= user.pricing_plan ? user.pricing_plan.name : 'N/A'%></td>
                      <td><%= user.roles.pluck(:name).map(&:humanize).join(', ') %></td>
                      <td><%= user.active? %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <section class="pull-right">
        <%= paginate @users %>
      </section>
    </div>
  </div>
</div>
