<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('add_a_new_user') %></h3>
  </div>

  <!-- Form-validation -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('new_user') %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= form_for @user, url: users_create_path, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
              <div class="form-group">
                <%= f.label :email, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.email_field :email, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :first_name, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.text_field :first_name, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :last_name, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.text_field :last_name, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.password_field :password, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :schedulable, t('schedulable_form_label'), class: 'control-label col-lg-2 col-sm-3' %>
                <div class="col-lg-10 col-sm-9">
                  <%= f.check_box :schedulable, class: 'checkbox form-control', style: 'width: 16px;' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :set_admin, t('admin'), class: 'control-label col-lg-2 col-sm-3' %>
                <div class="col-lg-10 col-sm-9">
                  <%= f.check_box :set_admin, class: 'checkbox form-control', style: 'width: 16px;' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :set_teacher, t('teacher'), class: 'control-label col-lg-2 col-sm-3' %>
                <div class="col-lg-10 col-sm-9">
                  <%= f.check_box :set_teacher, class: 'checkbox form-control', style: 'width: 16px;' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :set_student, t('student'), class: 'control-label col-lg-2 col-sm-3' %>
                <div class="col-lg-10 col-sm-9">
                  <%= f.check_box :set_student, class: 'checkbox form-control', style: 'width: 16px;' %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <%= f.submit t('save'), class: 'btn btn-success' %>
                  <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
