<div class="wraper container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="bg-picture">
        <span class="bg-picture-overlay"></span>
        <div class="box-layout meta bottom">
          <div class="col-sm-6 clearfix">
            <span class="img-wrapper pull-left m-r-15"><%= image_tag @user.avatar.url(:medium), class: 'bt-radius', style: 'width: 64px;' %></span>
            <div class="media-body">
              <h3 class="text-white mb-2 m-t-10 ellipsis"><%= @user.full_name %></h3>
              <h5 class="text-white"><%= @user.roles.pluck(:name).map(&:humanize).join(', ') %></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-30">
    <div class="col-sm-12">
      <div class="panel panel-default p-0">
        <div class="panel-body p-0">
          <ul class="nav nav-tabs profile-tabs">
            <li class="active"><a data-toggle="tab" href="#aboutme"><%= t('about_me') %></a></li>
            <% if policy(@user).update? %>
              <li class=""><a data-toggle="tab" href="#edit-profile"><%= t('settings') %></a></li>
            <% end %>
          </ul>

          <div class="tab-content m-0">
            <div id="aboutme" class="tab-pane active">
              <div class="profile-desk">
                <h1><%= @user.full_name %></h1>
                <span class="designation"><%= @user.roles.pluck(:name).join(', ') %></span>
                <p><%= @user.about %></p>

                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th colspan="3"><h3><%= t('contact_information') %></h3></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b><%= t('email') %></b></td>
                      <td>
                        <a href="" class="ng-binding">
                          <%= @user.email %>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td><b><%= t('phone') %></b></td>
                      <td class="ng-binding"><%= @user.phone %></td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- end profile-desk -->
            </div> <!-- about-me -->

            <!-- settings -->
            <% if policy(@user).update? %>
              <div id="edit-profile" class="tab-pane">
                <div class="user-profile-content">
                  <%= form_for @user do |f| %>
                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :first_name %>
                      <%= f.text_field :first_name, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :last_name %>
                      <%= f.text_field :last_name, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :password_confirmation %>
                      <%= f.password_field :password_confirmation, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :avatar, t('profile_photo') %>
                      <%= f.file_field :avatar %>
                    </div>

                    <div class="form-group">
                      <%= f.label :phone %>
                      <%= f.text_field :phone, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :country %>
                      <%= f.country_select :country, nil, { include_blank: true }, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :gender %>
                      <%= f.select :gender, User.gender_options, { include_blank: true }, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :passport_number %>
                      <%= f.text_field :passport_number, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :birth_date %>
                      <%= f.date_field :birth_date, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :emergency_contact_name %>
                      <%= f.text_field :emergency_contact_name, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :emergency_contact_number %>
                      <%= f.text_field :emergency_contact_number, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <%= f.label :about, t('about_me') %>
                      <%= f.text_area :about, class: 'form-control' %>
                    </div>

                    <% if current_user.admin? %>
                      <div class="form-group">
                        <%= f.label :schedulable, class: 'cr-styled' do  %>
                          <%= f.check_box :schedulable, style: 'width: 16px;' %>
                          <i class="fa"></i>
                          <%= t('schedulable_form_label') %>
                        <% end %>
                      </div>

                      <div class="form-group">
                        <%= f.label :active, class: 'cr-styled' do  %>
                          <%= f.check_box :active, style: 'width: 16px;' %>
                          <i class="fa"></i>
                          <%= t('active') %>
                        <% end %>
                      </div>
                    <% end %>


                    <% if policy(@user).update? %>
                      <div class="form-group">
                        <%= label_tag :availability, t('availability') %>
                      </div>

                      <div class="form-group">
                        <%= f.label :available_in_morning, class: 'cr-styled' do %>
                          <%= f.check_box :available_in_morning, style: 'width: 16px;' %>
                          <i class="fa"></i>
                          <%= t('available_in_morning') %>
                        <% end %>
                      </div>

                      <div class="form-group">
                        <%= f.label :available_in_afternoon, class: 'cr-styled' do %>
                          <%= f.check_box :available_in_afternoon, style: 'width: 16px;' %>
                          <i class="fa"></i>
                          <%= t('available_in_afternoon') %>
                        <% end %>
                      </div>
                    <% end %>

                    <div class="form-group">
                      <%= f.label :role, t('roles') %>
                    </div>

                    <% (Role.default_roles + current_account.roles).each do |role| %>
                      <div class="form-group">
                        <label class="cr-styled">
                          <%= check_box :role, role.id, { checked: @user.has_role?(role.name.to_sym) } %>
                          <i class="fa"></i>
                          <%= role.name.capitalize %>
                        </label>
                      </div>
                    <% end %>
                    <%= f.submit t('save'), class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
