<div class="wrapper-page animated fadeInDown">
  <div class="panel panel-color panel-primary">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'text-center', method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Enter your <b>Email</b> and instructions will be sent to you!
      </div>
      <div class="form-group m-b-0">
        <div class="input-group">
          <%= f.email_field :email, placeholder: 'Enter Email', autofocus: true, class: 'form-control' %>
          <span class="input-group-btn"><%= f.submit 'Reset', class: 'btn btn-primary' %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>