<section class="section features" id="how">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title">How It Works ?</h2>
        <p class="slogan">SchoolBooks is a simple student information system designed for small schools teaching various subjects. We help you run your school, process payments, manage student schedules, and more.</p>
      </div>
    </div>

    <div class="row pt80">
      <div class="col-sm-4">
        <div class="features-2">
          <i class="fa fa-users fa-4x" aria-hidden="true"></i>
        </div>
        <div>
          <h3 style="margin-top: 0;">Manage Students and Teachers</h3>
          <p>Keep track of your students and teachers for your school. See their history, classes taken, and etc.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="features-2">
          <i class="fa fa-money fa-4x" aria-hidden="true"></i>
        </div>
        <div>
          <h3 style="margin-top: 0;">Payments</h3>
          <p>Create and manage your pricing plans, and enroll students into your pricing plans. We will automatically process payments for you so that you can easily keep track of who needs to pay, who has paid, and etc.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="features-2">
          <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
        </div>
        <div>
          <h3 style="margin-top: 0;">Scheduling</h3>
          <p>Use our easy to use scheduler to assign students to teachers throughout the week. Automatically send out schedules to students for the week.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-wrap bg-light section pb0" id="features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="feature-sec">
          <h3>Mobile Ready</h3>
          <p>SchoolBooks is programmed to be displayed optimally on your mobile devices. Manage your school effectively wherever you are.</p>
          <a href="#pricing" class="use-btn btn-primary">Get Started</a>
        </div>
      </div>

      <div class="col-sm-6 featured-img">
        <img src="<%= asset_path('landing/screen-3.png') %>" alt="Features-img" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="section" id="pricing">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <h2 class="title">Simple Pricing</h2>
        <p class="slogan">Simple monthly pricing with no hidden fees. Cancel when you want, no questions asked.</p>
      </div>
    </div>

    <div class="row pt80">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-sm-6">
            <div class="price_card text-center">
              <div class="header bg-info">
                <span class="price">$0/mo</span>
                <span class="name">Free</span>
              </div>
              <ul class="price-features">
                <li>Unlimited Users</li>
                <li>Standard Student Registration Form</li>
                <li>Integrations Feature</li>
                <li>Limited Support</li>
              </ul>
              <%= link_to 'Sign Up', new_user_registration_path(plan_name: 'Free'), class: 'btn btn-info w-md', style: 'margin-top: 20px;' %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="price_card text-center">
              <div class="header bg-pink">
                <span class="price">$79/mo</span>
                <span class="name">Pro</span>
              </div>
              <ul class="price-features">
                <li>Unlimited Users</li>
                <li>Custom Student Registration Form</li>
                <li>Integrations Feature and Support</li>
                <li>Unlimited Support</li>
                <li>14 day free trial</li>
              </ul>
              <%= link_to 'Sign Up', new_user_registration_path(plan_name: 'Pro'), class: 'btn btn-info w-md', style: 'margin-top: 20px;' %>
            </div>
            <!-- <span class="tip">* Most popular!</span>s -->
          </div>

          <!-- <div class="col&#45;sm&#45;4"> -->
          <!--   <div class="price_card text&#45;center"> -->
          <!--     <div class="header bg&#45;purple"> -->
          <!--       <span class="price">$99/mo</span> -->
          <!--       <span class="name">Premium</span> -->
          <!--     </div> -->
          <!--     <ul class="price&#45;features"> -->
          <!--       <li>Unlimited Users</li> -->
          <!--       <li>Standard and Custom Student Registration Form</li> -->
          <!--       <li>Integrations Feature and Support</li> -->
          <!--       <li>Unlimited Support</li> -->
          <!--       <li>14 day free trial</li> -->
          <!--     </ul> -->
          <!--     <%#= link_to 'Sign Up', new_user_registration_path(plan_name: 'Premium'), class: 'btn btn&#45;purple w&#45;md', style: 'margin&#45;top: 20px;' %> -->
          <!--   </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light section" id="clients">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <h2 class="title">Our lovely clients</h2>
        <p class="slogan">Check them out below</p>
        <ul class="list-inline client-list pt40">
          <li><a href="http://www.colombiaimmersion.com" style="color: #949494; border: 2px solid #949494; padding: 0 5px; font-size: 30px; line-height: 32px;">COLOMBIA IMMERSION</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('.navbar-nav a').on('click', function() {
    var clickedElement = $(this);

    $('html, body').animate({
      scrollTop: $(clickedElement.attr('href')).offset().top
    }, 5000)
  });
</script>
