<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title">Welcome <%= current_user.full_name %></h3>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="widget-panel widget-style-2 bg-pink">
        <i class="ion-cash"></i>
        <h2 class="m-0 counter"><%= current_account.payments.overdue.count %></h2>
        <div><%= t('overdue_payments') %></div>
      </div>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class="row">
      <div class="col-lg-4">
        <%= react_component(
          'TaskWidgetApp',
          prerender: false,
          props: {
            todosPath: ui_v1_todos_path,
          }
        ) %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
/* ==============================================
     Counter Up
     =============================================== */
  jQuery(document).ready(function($) {
      $('.counter').counterUp({
          delay: 100,
          time: 1200
      });
  });
</script>
