<%= link_to event_path(event) do %>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= event.name %></h3>
      </div>
      <div class="panel-body">
        <p><%= event.description || 'N/A' %></p>
      </div>
    </div>
  </div>
<% end %>
