<%= form_for event, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :maximum_capacity, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :maximum_capacity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :has_sessions, class: 'control-label col-lg-2' %>
    <div class="col-lg-10 control-label">
      <%= f.check_box :has_sessions, class: 'hidden' %>
      <div id="has-sessions-toggle" class="toggle toggle-success"></div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price_cents, "#{t('price')} - #{account.currency}", class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :price_cents, value: event.price.to_s, step: 0.01, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <%= render partial: 'start_end_times/fields_for_form', locals: { timeable: event, f: f } %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
