<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('events') %></h3>
  </div>

  <% @events.in_groups_of(3).each do |grouped_events| %>
    <div class="row">
      <% grouped_events.compact.each do |event| %>
        <%= render event %>
      <% end %>
    </div>
  <% end %>
</div>
