<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= @event.name %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_event_path(@event), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), event_path(@event), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-purple"><%= humanized_money_with_symbol @event.price %></div>
        <span class="text-muted"><%= t('price') %></span>
        <div class="text-right">
          <i class="fa fa-usd fa-2x text-purple"></i>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="panel bg-primary">
        <div class="h2 text-white"><%= @event.maximum_capacity %></div>
        <span class="text-white"><%= t('maximum_capacity') %></span>
        <div class="text-right">
          <i class="fa fa-university fa-2x text-white"></i>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-primary"><%= @event.attendees.count %></div>
        <span class="text-muted"><%= t('attendees') %></span>
        <div class="text-right">
          <i class="fa fa-users fa-2x text-primary"></i>
        </div>
      </div>
    </div>
  </div>

  <% if @event.has_sessions? %>
    <div class="page-title">
      <h3 class="title"><%= t('event_sessions') %></h3>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li><%= link_to t('add_a_new_session'), new_event_event_session_path(@event), class: 'btn btn-info'  %></li>
        </ul>
        <br>
      </div>
    </div>

    <% @event.event_sessions.in_groups_of(3).each do |grouped_event_sessions| %>
      <div class="row">
        <% grouped_event_sessions.compact.each do |event_session| %>
          <%= link_to event_event_session_path(@event, event_session) do %>
            <div class="col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= event_session.start_end_time.start_on.to_formatted_s(:short) %> - <%= event_session.start_end_time.end_on.to_formatted_s(:short) %></h3>
                </div>
                <div class="panel-body">
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="page-title">
      <h3 class="title"><%= t('attendees') %></h3>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li><%= link_to t('add_attendees'), 'javascript:;', class: 'md-trigger btn btn-info', data: { modal: 'new-event-modal' } %></li>
        </ul>
        <br>
      </div>
    </div>

    <% if @event.attendees.any? %>
      <div class="row">
        <div class="col-md-12">
          <div class="portlet">
            <div class="portlet-heading">
              <h3 class="portlet-title text-dark text-uppercase"><%= t('attendees') %></h3>
            </div>

            <div class="panel-collapse collapse in">
              <div class="portlet-body">
                <ul class="list-group list-group-lg">
                  <% @event.attendees.each do |user| %>
                    <li class="list-group-item b-0">
                      <%= link_to user_path(user), class: 'm-r-10' do %>
                        <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                      <% end %>
                      <% event_attendance = EventAttendance.find_by(event: @event, user: user, account: current_account) %>
                      <%= link_to event_event_attendance_path(@event, event_attendance), method: :delete do %>
                        <span class="pull-right label bg-danger inline m-t-10"><%= t('delete') %></span>
                      <% end %>
                      <%= link_to user.full_name, user_path(user) %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="md-modal md-effect-16" id="new-event-modal">
  <%= form_for [@event, @event.event_attendances.build], html: { class: 'form-horizontal' } do |f| %>
    <div class="md-content">
      <h3><%= t('enroll_a_user') %></h3>

      <div class="form-group">
        <%= f.label :user_id, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.select :user_id, current_account.students_collection(@event.attendees), {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group m-b-0">
        <div class="col-sm-offset-4 col-sm-8">
          <%= link_to t('cancel'), 'javascript:;', class: 'md-close btn btn-default btn-sm' %>
          <%= f.submit t('submit'), class: 'btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="md-overlay"></div>
