<%= form_for class_schedule, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :maximum_students_per_class, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :maximum_students_per_class, step: 1, class: 'form-control' %>
    </div>
  </div>

  <%= render partial: 'start_end_times/fields_for_form', locals: { timeable: class_schedule, f: f } %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
