<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('class_schedules') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('terms_of_services') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t('name') %></th>
                    <th><%= t('maximum_students_per_class') %></th>
                    <th><%= t('students_to_assign') %></th>
                    <th><%= t('group_students_to_assign') %></th>
                    <th><%= t('private_students_to_assign') %></th>
                  </tr>
                </thead>

                <tbody>
                  <% @class_schedules.each do |class_schedule| %>
                    <tr class="clickable-row" data-href="<%= class_schedule_url(class_schedule) %>">
                      <td><%= class_schedule.name %></td>
                      <td><%= class_schedule.maximum_students_per_class %></td>
                      <td><%= class_schedule.students_left_to_assign %></td>
                      <td><%= class_schedule.group_students_left_to_assign.count %></td>
                      <td><%= class_schedule.private_students_left_to_assign.count %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
