<div class="wraper container-fluid">
  <%= react_component(
    'ClassSchedulesApp',
    prerender: false,
    props: {
      accountId: @class_schedule.account_id,
      roomsPath: ui_v1_rooms_path(class_schedule_id: @class_schedule.id),
      exportPath: ui_v1_schedule_exports_path(id: @class_schedule.id),
      rangeLabel: "#{l(@class_schedule.start_on, format: :long)} - #{l(@class_schedule.end_on, format: :long)}",
      studentsPath: ui_v1_students_path(class_schedule_id: @class_schedule.id),
      teachersPath: ui_v1_teachers_path,
      newSessionPath: ui_v1_class_sessions_path,
      rangeShortLabel: "#{l(@class_schedule.start_on, format: :short)} - #{l(@class_schedule.end_on, format: :short)}",
      classScheduleId: @class_schedule.id
    }
  ) %>
</div>
