<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('registration_form') %></h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= current_account.name %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= form_for @registration_form do |f| %>
              <div class="form-group">
                <%= f.label :custom_form, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.check_box :custom_form, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <%= f.submit t('save'), class: 'btn btn-success' %>
                  <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
