<p>We accept: Visa, Mastercard, American Express, and Discover</p>
<br>
<%= form_tag form_action_path, id: 'payment_method' do %>
  <%= hidden_field_tag :stripe_card_token %>
  <div class="form-group">
    <%= text_field_tag :name_on_card, nil, name: nil,
        placeholder: 'Name on Card', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= text_field_tag :card_number, nil, name: nil,
        placeholder: 'Card Number', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= text_field_tag :postal_code, nil, name: nil,
        placeholder: 'Postal Code', class: 'form-control' %>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <%= select_month nil, { add_month_numbers: true },
          { name: nil, id: 'card_month', class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= select_year nil,
          { start_year: Date.today.year,
            end_year: Date.today.year + 20 },
            { name: nil, id: 'card_year', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= text_field_tag :cvc, nil, name: nil,
          placeholder: 'CVC', class: 'form-control' %>
    </div>
  </div>

  <br />
  <div id="stripe_error">
  </div>

  <%= submit_tag 'Save Card', class: 'btn btn-primary' %>
<% end %>

