<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('account_subscription') %></h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= current_account.name %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= form_for @account_subscription, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
              <div class="form-group">
                <%= f.label :subscription_plan_id, t('subscription_plan'), class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.select :subscription_plan_id, SubscriptionPlan.name_collection, {}, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <%= f.submit t('save'), class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="panel-heading">
          <h3 class="panel-title"><%= t('payment_method').titleize %></h3>
        </div>
        <div class="panel-body">
          <% if @account_subscription.trial? %>
            <div class="form">
              <%= render partial: 'credit_card_form', locals: { form_action_path: subscribe_path } %>
            </div>
          <% else %>
            <% if @account_subscription.ongoing? %>
              <div class="alert alert-success">
                You are subscribed.
              </div>
              <%= link_to 'Click to Cancel / Pause Subscription', pause_subscription_path, method: :post, class: 'btn btn-danger' %>
            <% else %>
              <div class="alert alert-warning">
                Your subscription is paused.
              </div>
              <p><%= link_to 'Click to Resume Subscription', resume_subscription_path, method: :post, class: 'btn btn-success' %></p>
            <% end %>
          <% end %>
        </div>

        <% if @credit_cards.present? %>
          <br />
          <div class="panel-heading">
            <h3 class="panel-title"><%= t('your_credit_cards').titleize %></h3>
          </div>
          <div class="panel-body">
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th><%= t('name') %></th>
                  <th><%= t('card_number') %></th>
                  <th><%= t('zip_code') %></th>
                  <th><%= t('card_brand') %></th>
                  <th><%= t('country') %></th>
                  <th><%= t('exp_month') %></th>
                  <th><%= t('exp_year') %></th>
                  <th><%= t('card_type') %></th>
                  <th><%= t('default') %></th>
                  <th><%= t('actions') %></th>
                </tr>
              </thead>
              <tbody>
                <% @credit_cards.each do |credit_card| %>
                  <tr>
                    <td><%= credit_card.name %></td>
                    <td><%= "**** **** **** #{credit_card.last4}" %></td>
                    <td><%= credit_card.address_zip %></td>
                    <td><%= credit_card.brand %></td>
                    <td><%= credit_card.country %></td>
                    <td><%= credit_card.exp_month %></td>
                    <td><%= credit_card.exp_year %></td>
                    <td><%= credit_card.funding %></td>
                    <td><%= @stripe_customer.default_source == credit_card.id %></td>
                    <td>
                      <% unless @stripe_customer.default_source == credit_card.id %>
                        <%= link_to t('make_default'), make_default_card_path(card_id: credit_card.id), method: :put %> /
                      <% end %>
                      <%= link_to t('delete'), delete_card_path(card_id: credit_card.id), method: :delete %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="panel-heading">
            <h3 class="panel-title"><%= t('add_a_new_card').titleize %></h3>
          </div>
          <div class="panel-body">
            <div class="form">
              <%= render partial: 'credit_card_form', locals: { form_action_path: add_a_new_card_path } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
