<%= form_for pricing_plan, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :code, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price_cents, "#{t('price')} - #{account.currency}", class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :price_cents, value: pricing_plan.price.to_s, step: 0.01, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :frequency, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :frequency, min: 1, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :frequency_unit, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :frequency_unit, PricingPlan.frequency_plan_collection, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :hours_per_week, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :hours_per_week, min: 0, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :hours_per_day, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :hours_per_day, min: 0, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :private_plan, class: 'control-label col-lg-2' %>
    <div class="col-lg-10 control-label">
      <%= f.check_box :private_plan, class: 'hidden' %>
      <div id="pricing-plan-private-plan-toggle" class="toggle toggle-success"></div>
    </div>
  </div>

  <div class="form-group">
    <%= f.fields_for :note do |n| %>
      <%= n.label :note, t('notes'), class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= n.text_area :body, class: 'form-control' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
