<%= link_to pricing_plan_path(pricing_plan) do %>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pricing_plan.name %></h3>
      </div>
      <div class="panel-body">
        <p><%= simple_format(pricing_plan.note.try(:body)) || 'N/A' %></p>
      </div>
    </div>
  </div>
<% end %>
