<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('edit_pricing_plan') %></h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @pricing_plan.name %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= render partial: 'form', locals: { pricing_plan: @pricing_plan, account: current_account } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
