<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('pricing_plans') %></h3>
  </div>

  <% @pricing_plans.in_groups_of(3).each do |grouped_pricing_plans| %>
    <div class="row">
      <% grouped_pricing_plans.compact.each do |pricing_plan| %>
        <%= render pricing_plan %>
      <% end %>
    </div>
  <% end %>
</div>
