<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= @pricing_plan.name %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_pricing_plan_path(@pricing_plan), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), pricing_plan_path(@pricing_plan), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-purple"><%= humanized_money_with_symbol @pricing_plan.price %></div>
        <span class="text-muted"><%= t('price') %></span>
        <div class="text-right">
          <i class="fa fa-usd fa-2x text-purple"></i>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="panel bg-primary">
        <div class="h2 text-white"><%= @pricing_plan.frequency %> <%= "#{@pricing_plan.frequency_unit}#{'s' if @pricing_plan.frequency > 1}" %></div>
        <span class="text-white"><%= t('frequency') %></span>
        <div class="text-right">
          <i class="fa fa-calendar fa-2x text-white"></i>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-primary"><%= @pricing_plan.active_users.count %></div>
        <span class="text-muted"><%= t('current_students') %></span>
        <div class="text-right">
          <i class="fa fa-user fa-2x text-primary"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="page-title">
    <h3 class="title"><%= t('plan_schedules') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('add_schedule'), new_start_end_time_path(timeable_type: @pricing_plan.class.name, timeable_id: @pricing_plan.id), class: 'btn btn-info'  %></li>
      </ul>
      <br>
    </div>
  </div>

  <% if @pricing_plan.start_end_times.any? %>
    <ul class="list-group">
      <% @pricing_plan.start_end_times.each do |schedule| %>
        <li class="list-group-item">
          <%= "#{schedule.start_on.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip} - #{schedule.end_on.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip}" %>
          <%= link_to t('delete'), start_end_time_path(schedule, timeable_type: @pricing_plan.class.name, timeable_id: @pricing_plan.id), method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-danger badge' %>
          <%= link_to t('edit'), edit_start_end_time_path(schedule, timeable_type: @pricing_plan.class.name, timeable_id: @pricing_plan.id), class: 'btn btn-info badge' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="alert alert-warning">
      <%= I18n.t('you_do_not_have_any_schedules_for_this_pricing_plan') %>
    </div>
  <% end %>

  <div class="page-title">
    <h3 class="title"><%= t('enrolled_students') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('enroll_a_user'), 'javascript:;', class: 'md-trigger btn btn-info', data: { modal: 'new-plan-enrollment-modal'} %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#active-students" data-toggle="tab" aria-expanded="false">
            <span class="visible-xs"><%= t('active')%></span>
            <span class="hidden-xs"><%= t('active') %></span>
          </a>
        </li>
        <li>
          <a href="#inactive-students" data-toggle="tab" aria-expanded="true">
            <span class="visible-xs"><%= t('inactive') %></span>
            <span class="hidden-xs"><%= t('inactive') %></span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="active-students">
          <ul class="list-group list-group-lg">
            <% plan_enrollments = @pricing_plan.plan_enrollments %> <% active_plan_enrollments = plan_enrollments.active.includes(:user) %>
            <% active_plan_enrollments.each do |plan_enrollment| %>
              <li class="list-group-item b-0">
                <% user = plan_enrollment.user %>
                <% link_path =  pricing_plan_plan_enrollment_path(@pricing_plan, plan_enrollment, plan_enrollment: { active: false }) %>
                <%= link_to user_path(user), class: 'm-r-10' do %>
                  <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                <% end %>
                <%= link_to link_path, method: :delete do %>
                  <span class="pull-right label bg-danger inline m-t-10"><%= t('delete') %></span>
                <% end %>
                <%= link_to "#{user.full_name} (#{plan_enrollment.start_end_time.start_on.strftime('%m/%d/%Y')} - #{plan_enrollment.start_end_time.end_on.strftime('%m/%d/%Y')})", user_path(user) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="inactive-students">
          <ul class="list-group list-group-lg">
            <% inactive_plan_enrollments = plan_enrollments.inactive.includes(:user) %>
            <% inactive_plan_enrollments.each do |plan_enrollment| %>
              <li class="list-group-item b-0">
                <% user = plan_enrollment.user %>
                <%= link_to user_path(user), class: 'm-r-10' do %>
                  <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                <% end %>
                <%= link_to "#{user.full_name} (#{plan_enrollment.start_end_time.start_on.strftime('%m/%d/%Y')} - #{plan_enrollment.start_end_time.end_on.strftime('%m/%d/%Y')})", user_path(user) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md-modal md-effect-16" id="new-plan-enrollment-modal">
  <% new_plan_enrollment = @pricing_plan.plan_enrollments.build %>
  <% new_plan_enrollment.build_start_end_time %>
  <%= form_for [@pricing_plan, new_plan_enrollment], html: { class: 'form-horizontal' } do |f| %>
    <div class="md-content">
      <h3><%= t('enroll_a_user') %></h3>

      <div class="form-group">
        <%= f.label :user_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= f.select :user_id, current_account.students_collection(@pricing_plan.users), {}, class: 'form-control' %>
        </div>
      </div>

      <%= f.fields_for :start_end_time do |s| %>
        <% start_end_time = new_plan_enrollment.start_end_time %>
        <div class="form-group">
          <label class="control-label col-lg-3"><%= I18n.t('start_on') %></label>
          <div class="col-lg-9">
            <%= s.date_field :start_date,
                value: start_end_time.start_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
                class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-3"><%= I18n.t('end_on') %></label>
          <div class="col-lg-9">
            <%= s.date_field :end_date,
                value: start_end_time.end_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
                class: 'form-control' %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :price_cents, "#{t('price')} - #{current_account.currency}", class: 'control-label col-lg-3' %>
        <div class="col-lg-9">
          <%= f.number_field :price_cents, value: new_plan_enrollment.price.to_s, step: 0.01, class: 'form-control' %>
          <span><%= t('cost') %> - <%= humanized_money_with_symbol(@pricing_plan.price) %> / <%= "#{@pricing_plan.frequency} #{@pricing_plan.frequency_unit}" %></span><br>
        </div>
      </div>

      <div class="form-group m-b-0">
        <div class="col-sm-offset-4 col-sm-8">
          <%= link_to t('cancel'), 'javascript:;', class: 'md-close btn btn-default btn-sm' %>
          <%= f.submit t('submit'), class: 'btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="md-overlay"></div>
