<%= f.fields_for :start_end_time do |s| %>
  <% start_end_time = timeable.start_end_time %>
  <%= hidden_field_tag :timeable_type, timeable.class.name %>

  <% if start_end_time.display_date_and_time_inputs? %>
    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('start_on') %></label>
      <div class="col-lg-2">
        <%= f.text_field :start_date,
            value: start_end_time.start_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
            name: 'hadifj',
            id: 'pick_a_date_start_date',
            class: 'pick-a-date-start-end-time form-control' %>
      </div>
      <div class="col-lg-2">
        <%= f.text_field :start_time,
            value: start_end_time.start_on.try { |time| time.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip },
            name: 'asdf',
            id: 'pick_a_date_start_time',
            class: 'pick-a-time-start-end-time form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('end_on') %></label>
      <div class="col-lg-2">
        <%= f.text_field :end_date,
            value: start_end_time.end_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
            name: 'asdfasdf',
            id: 'pick_a_date_end_date',
            class: 'pick-a-date-start-end-time form-control' %>
      </div>
      <div class="col-lg-2">
        <%= f.text_field :end_time,
            value: start_end_time.end_on.try { |time| time.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip },
            name: 'asdfasdfasdf',
            id: 'pick_a_date_end_time',
            class: 'pick-a-time-start-end-time form-control' %>
      </div>
    </div>
  <% elsif start_end_time.display_date_inputs? %>
    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('start_on') %></label>
      <div class="col-lg-10">
        <%= s.text_field :start_date,
            value: start_end_time.start_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
            id: 'pick_a_date_start_date',
            name: 'yeah',
            class: 'pick-a-date-start-end-time form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('end_on') %></label>
      <div class="col-lg-10">
        <%= s.text_field :end_date,
            value: start_end_time.end_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
            id: 'pick_a_date_end_date',
            name: 'blah',
            class: 'pick-a-date-start-end-time form-control' %>
      </div>
    </div>
  <% elsif start_end_time.display_time_inputs? %>
    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('start_on') %></label>
      <div class="col-lg-10">
        <%= f.text_field :start_time,
            value: start_end_time.start_on.try { |time| time.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip },
            name: 'asdf',
            id: 'pick_a_date_start_time',
            class: 'pick-a-time-start-end-time form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('end_on') %></label>
      <div class="col-lg-10">
        <%= f.text_field :end_time,
            value: start_end_time.end_on.try { |time| time.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip },
            name: 'asdfasdfasdf',
            id: 'pick_a_date_end_time',
            class: 'pick-a-time-start-end-time form-control' %>
      </div>
    </div>
  <% end %>

  <%= s.hidden_field :start_date, id: 'start_date_hidden_field' %>
  <%= s.hidden_field :start_time, id: 'start_time_hidden_field' %>
  <%= s.hidden_field :end_date, id: 'end_date_hidden_field' %>
  <%= s.hidden_field :end_time, id: 'end_time_hidden_field' %>
<% end %>
