<%= form_for start_end_time, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <%= hidden_field_tag :timeable_type, start_end_time.timeable.class.name %>
  <%= hidden_field_tag :timeable_id, start_end_time.timeable.id %>

  <% if start_end_time.display_date_and_time_inputs? %>
    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('start_on') %></label>
      <div class="col-lg-2">
        <%= f.text_field :start_date,
            value: start_end_time.start_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
            class: 'pick-a-date-start-end-time form-control' %>
      </div>
      <div class="col-lg-2">
        <%= f.text_field :start_time,
            value: start_end_time.start_on.try { |time| time.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip },
            class: 'pick-a-time-start-end-time form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('end_on') %></label>
      <div class="col-lg-2">
        <%= f.text_field :end_date,
            value: start_end_time.end_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
            class: 'pick-a-date-start-end-time form-control' %>
      </div>
      <div class="col-lg-2">
        <%= f.text_field :end_time,
            value: start_end_time.end_on.try { |time| time.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip },
            class: 'pick-a-time-start-end-time form-control' %>
      </div>
    </div>
  <% elsif start_end_time.display_date_inputs? %>
    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('start_on') %></label>
      <div class="col-lg-10">
        <%= f.text_field :start_date,
            value: start_end_time.start_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
            class: 'pick-a-date-start-end-time form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('end_on') %></label>
      <div class="col-lg-10">
        <%= f.text_field :end_date,
            value: start_end_time.end_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
            class: 'pick-a-date-start-end-time form-control' %>
      </div>
    </div>
  <% elsif start_end_time.display_time_inputs? %>
    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('start_on') %></label>
      <div class="col-lg-10">
        <%= f.text_field :start_time,
            value: start_end_time.start_on.try { |time| time.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip },
            class: 'pick-a-time-start-end-time form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-2"><%= I18n.t('end_on') %></label>
      <div class="col-lg-10">
        <%= f.text_field :end_time,
            value: start_end_time.end_on.try { |time| time.in_time_zone(current_account.time_zone).strftime('%l:%M %p').strip },
            class: 'pick-a-time-start-end-time form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
