<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('new_schedule') %></h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('new_schedule') %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= render partial: 'form', locals: { start_end_time: @start_end_time } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
