<div class="wrapper-page animated fadeInDown">
  <div class="panel panel-color panel-primary">
    <div class="panel-heading">
      <h3 class="text-center m-t-10"> Sign In to <strong>Schoolbooks</strong> </h3>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal m-t-40' }) do |f| %>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-xs-12">
            <label class="cr-styled">
              <%= f.check_box :remember_me %>
              <i class="fa"></i>
              Remember me
            </label>
          </div>
        </div>
      <% end -%>

      <div class="form-group text-right">
        <div class="col-xs-12">
          <%= f.submit 'Log In', class: 'btn btn-purple w-md' %>
        </div>
      </div>

      <div class="form-group m-t-30">
        <div class="col-sm-7">
          <%= link_to new_user_password_path do %>
            <i class="fa fa-lock m-r-5"></i> Forgot your password?
          <% end %>
        </div>
        <div class="col-sm-5 text-right">
          <%= link_to 'Create an account', new_user_registration_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>