<%= form_for housing, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <div class="form-group">
    <%= f.label :owner_name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :owner_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :additional_services_and_costs, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :additional_services_and_costs, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :maximum_occupancy, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :maximum_occupancy, min: 1, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :monthly_cost_cents, "#{t('monthly_cost')} - #{account.currency}", class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :monthly_cost_cents, value: housing.monthly_cost.to_s, step: 0.01, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :weekly_cost_cents, "#{t('weekly_cost')} - #{account.currency}", class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :weekly_cost_cents, value: housing.weekly_cost.to_s, step: 0.01, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :confirmed_host, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :confirmed_host, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.fields_for :note do |n| %>
      <%= f.label :note, t('notes'), class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= n.text_area :body, class: 'form-control' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
