<%= link_to housing_path(housing) do %>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= housing.owner_name %></h3>
      </div>
      <div class="panel-body">
        <% if housing.confirmed_host? %>
          <p><%= t('active') %></p>
        <% else %>
          <p><%= t('inactive') %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
