<div class="wraper container-fluid">
  <div class="page-title">
    <h2 class="title"><%= t('housings') %></h2>
    <h4><%= current_account.name %> </h4>
  </div>

  <% @housings.in_groups_of(3).each do |grouped_housings| %>
    <div class="row">
      <% grouped_housings.compact.each do |housing| %>
        <%= render housing %>
      <% end %>
    </div>
  <% end %>
</div>
