<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= @housing.owner_name %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_housing_path(@housing), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), housing_path(@housing), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-primary"><%= @housing.occupants.count %></div>
        <span class="text-muted"><%= t('current_occupants') %></span>
        <div class="text-right">
          <i class="fa fa-user fa-2x text-primary"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-8"></div>
  </div>

  <div class="page-title">
    <h3 class="title"><%= t('occupants') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('add_a_user'), 'javascript:;', class: 'md-trigger btn btn-info', data: { modal: 'new-housing-occupant-modal'} %></li>
      </ul>
      <br>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#active-students" data-toggle="tab" aria-expanded="false">
            <span class="visible-xs"><%= t('active')%></span>
            <span class="hidden-xs"><%= t('active') %></span>
          </a>
        </li>
        <li>
          <a href="#inactive-students" data-toggle="tab" aria-expanded="true">
            <span class="visible-xs"><%= t('inactive') %></span>
            <span class="hidden-xs"><%= t('inactive') %></span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="active-students">
          <ul class="list-group list-group-lg">
            <% @housing.housing_occupancies.active.includes(:user).each do |housing_occupancy| %>
              <% user = housing_occupancy.user %>
              <li class="list-group-item b-0">
                <% link_path = housing_housing_occupancy_path(@housing, housing_occupancy) %>
                <%= link_to user_path(user), class: 'm-r-10' do %>
                  <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                <% end %>
                <%= link_to link_path, method: :delete do %>
                  <span class="pull-right label bg-danger inline m-t-10"><%= t('delete') %></span>
                <% end %>
                <%= link_to "#{user.full_name} (#{housing_occupancy.start_end_time.start_on.strftime('%m/%d/%Y')} - #{housing_occupancy.start_end_time.end_on.strftime('%m/%d/%Y')})", user_path(user) %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="inactive-students">
          <ul class="list-group list-group-lg">
            <% @housing.housing_occupancies.inactive.includes(:user).each do |housing_occupancy| %>
              <li class="list-group-item b-0">
                <% user = housing_occupancy.user %>
                <% link_path = housing_housing_occupancies_path(@housing, housing_occupancy: { user_id: user.id }) %>
                <%= link_to link_path, method: :post, class: 'm-r-10' do %>
                  <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                <% end %>
                <%= link_to link_path, method: :post do %>
                  <span class="pull-right label bg-success inline m-t-10"><%= t('add') %></span>
                <% end %>
                <%= link_to "#{user.full_name} (#{housing_occupancy.start_end_time.start_on.strftime('%m/%d/%Y')} - #{housing_occupancy.start_end_time.end_on.strftime('%m/%d/%Y')})", user_path(user) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md-modal md-effect-16" id="new-housing-occupant-modal">
  <% housing_occupancy = @housing.housing_occupancies.build %>
  <% housing_occupancy.build_start_end_time %>
  <%= form_for [@housing, housing_occupancy], html: { class: 'form-horizontal' } do |f| %>
    <div class="md-content">
      <h3><%= t('enroll_a_user') %></h3>

      <div class="form-group">
        <%= f.label :user_id, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= f.select :user_id, current_account.students_collection, {}, class: 'form-control' %>
        </div>
      </div>

      <%= f.fields_for :start_end_time do |s| %>
        <% start_end_time = housing_occupancy.start_end_time %>
        <div class="form-group">
          <label class="control-label col-lg-3"><%= I18n.t('start_on') %></label>
          <div class="col-lg-9">
            <%= s.date_field :start_date,
                value: start_end_time.start_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
                required: true,
                class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-3"><%= I18n.t('end_on') %></label>
          <div class="col-lg-9">
            <%= s.date_field :end_date,
                value: start_end_time.end_on.try { |date| date.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip },
                required: true,
                class: 'form-control' %>
          </div>
        </div>

      <% end %>

      <div class="form-group">
        <%= f.label :price_cents, "#{t('price')} - #{current_account.currency}", class: 'control-label col-lg-3' %>
        <div class="col-lg-9">
          <%= f.number_field :price_cents, value: housing_occupancy.price.to_s, step: 0.01, class: 'form-control' %>
          <span><%= t('weekly_cost') %> - <%= humanized_money_with_symbol(@housing.weekly_cost) %></span><br>
          <span><%= t('monthly_cost') %> - <%= humanized_money_with_symbol(@housing.monthly_cost) %></span>
        </div>
      </div>

      <div class="form-group m-b-0">
        <div class="col-sm-offset-4 col-sm-8">
          <%= link_to t('cancel'), 'javascript:;', class: 'md-close btn btn-default btn-sm' %>
          <%= f.submit t('submit'), class: 'btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="md-overlay"></div>
