<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('new_plan_enrollment') %></h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('new_plan_enrollment') %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= form_for [@pricing_plan, @plan_enrollment], html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
              <%= hidden_field_tag :redirect_url, inquired_users_path %>
              <div class="form-group">
                <%= f.label :user_id, class: 'col-sm-2 control-label' %>
                <div class="col-sm-10">
                  <%= f.select :user_id, current_account.users_collection(@pricing_plan.users), {}, class: 'form-control' %>
                </div>
              </div>

              <%= f.fields_for :start_end_time do |s| %>
                <% start_end_time = @plan_enrollment.start_end_time %>
                <% registration_information = @user.registration_information %>
                <%
                  if registration_information
                    start_end_time.start_on = registration_information.starting_date
                    start_end_time.end_on = registration_information.starting_date + registration_information.sign_up_period.weeks
                  end
                %>
                <div class="form-group">
                  <label class="control-label col-lg-2"><%= I18n.t('start_on') %></label>
                  <div class="col-lg-10">
                    <%= s.date_field :start_date,
                        as: :date,
                        value: start_end_time.start_on.try(:to_date),
                        class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-lg-2"><%= I18n.t('end_on') %></label>
                  <div class="col-lg-10">
                    <%= s.date_field :end_date,
                        as: :date,
                        value: start_end_time.end_on.try(:to_date),
                        class: 'form-control' %>
                  </div>
                </div>
              <% end %>

              <div class="form-group">
                <%= f.label :price_cents, "#{t('price')} - #{current_account.currency}", class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.number_field :price_cents, value: @plan_enrollment.price.to_s, step: 0.01, class: 'form-control' %>
                  <span><%= t('cost') %> - <%= humanized_money_with_symbol(@pricing_plan.price) %> / <%= "#{@pricing_plan.frequency} #{@pricing_plan.frequency_unit}" %></span><br>
                </div>
              </div>

              <div class="form-group m-b-0">
                <div class="col-sm-offset-2 col-sm-10">
                  <%= f.submit t('submit'), class: 'btn btn-primary' %>
                  <%= link_to t('cancel'), 'javascript:;', class: 'btn btn-default' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
