<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('edit_payment') %></h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('invoice_for') %>: <%= @payment.user.full_name %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= form_for @payment, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
              <div class="form-group">
                <%= f.label :discount, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.number_field :discount, max: 100, step: 0.01, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :due_on, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.date_field :due_on, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <%= f.submit t('save'), class: 'btn btn-success' %>
                  <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
