<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('payments') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('export_to_csv'), 'javascript:;', class: 'md-trigger btn btn-info', data: { modal: 'export-to-csv-modal' } %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('payments') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t('first_name') %></th>
                    <th><%= t('last_name') %></th>
                    <th><%= t('paid') %></th>
                    <th><%= t('due_on') %></th>
                    <th><%= t('paid_on') %></th>
                  </tr>
                </thead>

                <tbody>
                  <% @payments.each do |payment| %>
                    <tr class="clickable-row" data-href="<%= payment_url(payment) %>">
                      <td><%= payment.user.first_name %></td>
                      <td><%= payment.user.last_name %></td>
                      <td><%= payment.paid? %></td>
                      <td><%= payment.due_on.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip %></td>
                      <td><%= payment.paid_on.try { |paid_on| paid_on.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md-modal md-effect-16" id="export-to-csv-modal">
  <%= form_tag export_payments_path(format: :csv), { onsubmit: "$('a.md-close')[0].click();", method: :get, class: 'form-horizontal' } do |f| %>
    <div class="md-content">
      <h3><%= t('export_to_csv') %></h3>

      <div class="form-group">
        <label class="control-label col-lg-2"><%= I18n.t('start_on') %></label>
        <div class="col-lg-10">
          <%= date_field_tag :start_date, Date.today - 30.days, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2"><%= I18n.t('end_on') %></label>
        <div class="col-lg-10">
          <%= date_field_tag :end_date, Date.today, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group m-b-0">
        <div class="col-sm-offset-4 col-sm-8">
          <%= link_to t('cancel'), 'javascript:;', class: 'md-close btn btn-default btn-sm' %>
          <%= submit_tag t('submit'), class: 'btn-sm btn-primary md-close' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="md-overlay"></div>
