<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('invoice') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="clearfix">
            <div class="pull-left">
              <h4 class="text-right"><%= current_account.name %></h4>
            </div>
            <div class="pull-right">
              <%= link_to t('edit'), edit_payment_path(@payment), class: 'btn btn-info' %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <% if current_account.address_available? %>
                <div class="pull-left m-t-30">
                  <address>
                    <strong><%= current_account.name %></strong><br>
                    <%= current_account.address %><br>
                    <% if current_account.address2.present? %>
                      <%= current_account.address2 %><br>
                    <% end %>
                    <%= current_account.city %>, <%= current_account.state %> <%= current_account.zip_code %><br>
                    <abbr title="Phone">P:</abbr> <%= current_account.phone %>
                  </address>
                </div>
              <% end %>
              <div class="pull-right m-t-30">
                <p><strong><%= t('date') %>: </strong> <%= @payment.created_at.to_date.to_formatted_s(:long) %></p>
                <p><strong><%= t('due_on') %>: </strong> <%= @payment.due_on.to_date.to_formatted_s(:long) %></p>
                <p class="m-t-10"><strong><%= t('payment_status') %>: </strong> <span class="label label-<%= @payment.paid? ? 'success' : 'warning' %>"><%= @payment.payment_status %></span></p>
              </div>
            </div>
          </div>
          <div class="m-h-50"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table m-t-30">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th><%= t('item') %></th>
                      <th><%= t('description') %></th>
                      <th><%= t('total') %></th>
                      <% if current_user.admin? && !@payment.paid? %>
                        <th><%= t('actions') %></th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% @payment_items.each_with_index do |payment_item, index| %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= payment_item.itemable.class.name %></td>
                        <td><%= payment_item.itemable.class.name %></td>
                        <td><%= humanized_money_with_symbol(payment_item.itemable.payable_amount) %></td>
                        <% unless @payment.paid? %>
                          <td>
                            <%= link_to payment_item_path(payment_item) do %>
                              <span class="label bg-success inline m-t-10">Show</span>
                            <% end %>
                            <%= link_to payments_payment_item_path(payment_item), method: :delete do %>
                              <span class="label bg-danger inline m-t-10">Delete</span>
                            <% end %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row" style="border-radius: 0px;">
            <div class="col-md-3 col-md-offset-9">
              <p class="text-right"><b><%= t('subtotal') %>:</b> <%= humanized_money_with_symbol(@payment.subtotal) %></p>
              <p class="text-right"><%= t('discount') %>: <%= number_to_percentage(@payment.discount_to_number) %></p>
              <hr>
              <h3 class="text-right"><%= @payment.total.currency.to_s %> <%= humanized_money_with_symbol(@payment.total) %></h3>
            </div>
          </div>
          <hr>
          <div class="hidden-print">
            <div class="pull-right">
              <% if @payment.payable_by_student? %>
                <a href="#" class="btn btn-primary"><%= t('submit') %></a>
              <% else %>
                <%= link_to t('submit'), 'javascript:;', class: 'md-trigger btn btn-primary', data: { modal: 'modal-16' } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md-modal md-effect-16" id="modal-16">
  <%= form_for @payment, html: { class: 'form-horizontal' } do |f| %>
    <div class="md-content">
      <h3><%= t('submit_payment') %></h3>
      <%= f.hidden_field :paid, value: true %>
      <%= f.hidden_field :paid_on, value: Time.zone.now %>
      <div class="form-group">
        <%= f.label :payment_method, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.select :payment_method, Payment.payment_methods_collection, {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group m-b-0">
        <div class="col-sm-offset-4 col-sm-8">
          <%= link_to t('cancel'), 'javascript:;', class: 'md-close btn btn-default btn-sm' %>
          <%= f.submit t('submit'), class: 'btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="md-overlay"></div>
