<%= link_to room_path(room) do %>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= room.name %></h3>
      </div>
      <div class="panel-body">
        <p>N/A</p>
      </div>
    </div>
  </div>
<% end %>
