<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('rooms') %></h3>
  </div>

  <% @rooms.in_groups_of(3).each do |grouped_rooms| %>
    <div class="row">
      <% grouped_rooms.compact.each do |room| %>
        <%= render room %>
      <% end %>
    </div>
  <% end %>
</div>
