<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= @room.name %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_room_path(@room), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), room_path(@room), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
      </ul>
      <br>
    </div>
  </div>
</div>
