<%= form_for role, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.fields_for :note do |n| %>
      <%= f.label :note, t('notes'), class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= n.text_area :body, class: 'form-control' %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
