<%= link_to role_path(role) do %>
  <div class="col-lg-4">
    <div class="panel panel-color panel-<%= role.default? ? 'success' : 'info' %>">
      <div class="panel-heading">
        <h3 class="panel-title"><%= role.name.humanize %></h3>
      </div>
      <div class="panel-body">
        <p><%= role.note.try(:body) || 'N/A' %></p>
      </div>
    </div>
  </div>
<% end %>
