<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('roles') %></h3>
  </div>

  <% @roles.in_groups_of(3).each do |grouped_roles| %>
    <div class="row">
      <% grouped_roles.compact.each do |role| %>
        <%= render role %>
      <% end %>
    </div>
  <% end %>
</div>
