<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= @role.name.titleize %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_role_path(@role), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), role_path(@role), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-primary"><%= @role.users.count %></div>
        <span class="text-muted"><%= t('current_students') %></span>
        <div class="text-right">
          <i class="fa fa-user fa-2x text-primary"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="page-title">
    <h3 class="title"><%= t('add_users_to_role') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('add_a_user'), 'javascript:;', class: 'md-trigger btn btn-info', data: { modal: 'new-role-modal' } %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="portlet">
        <div class="portlet-heading">
          <h3 class="portlet-title text-dark text-uppercase"><%= t('remove_users_from_role') %></h3>
        </div>

        <div class="panel-collapse collapse in">
          <div class="portlet-body">
            <ul class="list-group list-group-lg">
              <% active_users = @role.users %>
              <% active_users.each do |user| %>
                <li class="list-group-item b-0">
                  <%= link_to user_path(user), class: 'm-r-10' do %>
                    <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                  <% end %>
                  <% users_role = UsersRole.find_by(role: @role, user: user) %>
                  <%= link_to users_role_path(users_role), method: :delete do %>
                    <span class="pull-right label bg-danger inline m-t-10"><%= t('delete') %></span>
                  <% end %>
                  <%= link_to user.full_name, user_path(user) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md-modal md-effect-16" id="new-role-modal">
  <%= form_tag users_roles_path, { class: 'form-horizontal' } do %>
    <div class="md-content">
      <h3><%= t('add_a_user') %></h3>

      <%= hidden_field_tag :role_id, @role.id %>

      <div class="form-group">
        <%= label_tag :user_id, t('user'), class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= select_tag :user_id, options_for_select(current_account.users_collection(@role.users)), { class: 'form-control' } %>
        </div>
      </div>

      <div class="form-group m-b-0">
        <div class="col-sm-offset-4 col-sm-8">
          <%= link_to t('cancel'), 'javascript:;', class: 'md-close btn btn-default btn-sm' %>
          <%= submit_tag t('submit'), class: 'btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="md-overlay"></div>
