<%= link_to level_path(level) do %>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= level.name %></h3>
      </div>
      <div class="panel-body">
        <% if level.active %>
          <p><%= t('active') %></p>
        <% else %>
          <p><%= t('inactive') %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
