<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('update_level') %></h3>
  </div>

  <!-- Form-validation -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('new_level') %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= form_for @level, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
              <div class="form-group">
                <%= f.label :name, class: 'control-label col-lg-2' %>
                <div class="col-lg-10">
                  <%= f.text_field :name, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :active, class: 'control-label col-lg-2 col-sm-3' %>
                <div class="col-lg-10 col-sm-9">
                  <%= f.check_box :active, class: 'checkbox form-control', style: 'width: 16px;' %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <%= f.submit t('save'), class: 'btn btn-success' %>
                  <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
