<div class="wraper container-fluid">
  <div class="page-title">
    <h2 class="title"><%= t('levels') %></h2>
    <h4><%= current_account.name %> </h4>
  </div>

  <% @levels.in_groups_of(3).each do |grouped_levels| %>
    <div class="row">
      <% grouped_levels.compact.each do |level| %>
        <%= render level %>
      <% end %>
    </div>
  <% end %>
</div>
