<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= @level.name %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_level_path(@level), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), level_path(@level), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-primary"><%= @students_in_level.count %></div>
        <span class="text-muted"><%= t('current_students') %></span>
        <div class="text-right">
          <i class="fa fa-user fa-2x text-primary"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-primary"><%= @teachers_in_level.count %></div>
        <span class="text-muted"><%= t('current_teachers') %></span>
        <div class="text-right">
          <i class="fa fa-user fa-2x text-primary"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="page-title">
    <h3 class="title"><%= t('level_members') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('add_a_teacher'), 'javascript:;', class: 'md-trigger btn btn-info', data: { modal: 'new-level-teacher-modal' } %></li>
      </ul>
      <br>
    </div>
  </div>

  <% if @teachers_in_level.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark text-uppercase"><%= t('remove_users_from_level') %></h3>
          </div>

          <div class="panel-collapse collapse in">
            <div class="portlet-body">
              <ul class="list-group list-group-lg">
                <% @teachers_in_level.each do |user| %>
                  <li class="list-group-item b-0">
                    <% level_membership = LevelMembership.find_by(level: @level, user: user) %>
                    <% link_path = level_level_membership_path(@level, level_membership) %>
                    <%= link_to user_path(user), class: 'm-r-10' do %>
                      <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                    <% end %>
                    <%= link_to link_path, method: :delete do %>
                      <span class="pull-right label bg-danger inline m-t-10"><%= t('delete') %></span>
                    <% end %>
                    <%= link_to user.full_name, user_path(user)  %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('add_a_student'), 'javascript:;', class: 'md-trigger btn btn-info', data: { modal: 'new-level-student-modal' } %></li>
      </ul>
      <br>
    </div>
  </div>

  <% if @students_in_level.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-heading">
            <h3 class="portlet-title text-dark text-uppercase"><%= t('remove_users_from_level') %></h3>
          </div>

          <div class="panel-collapse collapse in">
            <div class="portlet-body">
              <ul class="list-group list-group-lg">
                <% @students_in_level.each do |user| %>
                  <li class="list-group-item b-0">
                    <% level_membership = LevelMembership.find_by(level: @level, user: user) %>
                    <% link_path = level_level_membership_path(@level, level_membership) %>
                    <%= link_to user_path(user), class: 'm-r-10' do %>
                      <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                    <% end %>
                    <%= link_to link_path, method: :delete do %>
                      <span class="pull-right label bg-danger inline m-t-10"><%= t('delete') %></span>
                    <% end %>
                    <%= link_to user.full_name, user_path(user)  %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="md-modal md-effect-16" id="new-level-teacher-modal">
  <%= form_for [@level, @level.level_memberships.build], html: { class: 'form-horizontal' } do |f| %>
    <div class="md-content">
      <h3><%= t('add_a_user') %></h3>

      <div class="form-group">
        <%= f.label :user_id, t('user'), class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.select :user_id, current_account.teachers_collection(@level.level_members.teachers), {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group m-b-0">
        <div class="col-sm-offset-4 col-sm-8">
          <%= link_to t('cancel'), 'javascript:;', class: 'md-close btn btn-default btn-sm' %>
          <%= f.submit t('submit'), class: 'btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="md-modal md-effect-16" id="new-level-student-modal">
  <%= form_for [@level, @level.level_memberships.build], html: { class: 'form-horizontal' } do |f| %>
    <div class="md-content">
      <h3><%= t('add_a_user') %></h3>

      <div class="form-group">
        <%= f.label :user_id, t('user'), class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.select :user_id, current_account.students_collection(@level.level_members.students), {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group m-b-0">
        <div class="col-sm-offset-4 col-sm-8">
          <%= link_to t('cancel'), 'javascript:;', class: 'md-close btn btn-default btn-sm' %>
          <%= f.submit t('submit'), class: 'btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="md-overlay"></div>
