<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('csv_samples') %></h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><%= link_to t('user_csv'), integration_user_csv_path, target: '_blank' %></li>
      <li><%= link_to t('plan_enrollment_csv'), integration_plan_enrollment_csv_path, target: '_blank' %></li>
      <li><%= link_to t('housing_csv'), integration_housing_csv_path, target: '_blank' %></li>
      <li><%= link_to t('housing_occupancy_csv'), integration_housing_occupancy_csv_path, target: '_blank' %></li>
    </ul>
  </div>
</div>
