<%= form_for integration.new_record? ? integration : integration_path(integration), html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <div class="form-group">
    <%= f.label :type, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :type, Integration.integration_types_collection, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :file, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :file %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
