<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('edit_integration') %></h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('edit_integration') %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= render partial: 'form', locals: { integration: @integration }%>
          </div>
        </div>
      </div>

      <%= render 'csv_samples' %>
    </div>
  </div>
</div>
