<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('integrations') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('integrations') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><%= t('type') %></th>
                      <th><%= t('created_at') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @integrations.each do |integration| %>
                      <tr class="clickable-row" data-href="<%= integration_url(integration) %>">
                        <td><%= integration.type.remove('Integration') %></td>
                        <td><%= integration.created_at.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
