<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('integration') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_integration_path(@integration), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), integration_path(@integration), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
        <li><%= link_to t('import'), integration_processors_path(id: @integration), method: :post, class: 'btn btn-success' %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('integration') %></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><%= t('type') %>: <%= @integration.class.name %></li>
            <li><%= t('file_name' )%>: <%= @integration.file.original_filename %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
