<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('todos') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('todos') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><%= t('date_of_request') %></th>
                      <th><%= t('requester') %></th>
                      <th><%= t('task') %></th>
                      <th><%= t('complete') %></th>
                      <th><%= t('date_of_completion') %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @todos.each do |todo| %>
                      <tr class="clickable-row" data-href="<%= user_todo_url(current_user, todo) %>">
                        <td><%= todo.created_at.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip %></td>
                        <td><%= todo.requester.present? ? todo.requester.full_name : 'N/A' %></td>
                        <td><%= todo.body %></td>
                        <td><%= todo.complete? %></td>
                        <td><%= todo.complete? ? todo.completed_on.in_time_zone(current_account.time_zone).strftime('%-m/%-d/%Y').strip : 'N/A' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
