<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('todo') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_user_todo_path(@user, @todo), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), user_todo_path(@user, @todo), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
        <% if @todo.complete? %>
          <li><%= link_to t('mark_as_incomplete'), user_todo_path(@user, @todo, todo: { complete: false, completed_on: nil }), method: :put, class: 'btn btn-success' %></li>
        <% else %>
          <li><%= link_to t('mark_as_complete'), user_todo_path(@user, @todo, todo: { complete: true, completed_on: DateTime.now }), method: :put, class: 'btn btn-success' %></li>
        <% end %>
      </ul>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('todo') %></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><%= t('requester') %>: <%= @todo.requester.present? ? @todo.requester.full_name : 'N/A' %></li>
            <li><%= t('description') %>: <%= @todo.body %></li>
            <li><%= t('note') %>: <%= @todo.note.try(:body) %></li>
            <li><%= t('complete') %>: <%= @todo.complete? %></li>
            <li><%= t('completed_on') %>: <%= @todo.complete? ? @todo.completed_on : 'N/A' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
