<%= form_for [event, event_session], html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <div class="form-group">
    <%= f.label :maximum_capacity, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :maximum_capacity, class: 'form-control' %>
    </div>
  </div>

  <%= render partial: 'start_end_times/fields_for_form', locals: { timeable: event_session, f: f } %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
