<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('edit_event_session') %></h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @event.name %> - <%= t('session') %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= render partial: 'form', locals: { event_session: @event_session, event: @event } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
