*,
*:before,
*:after{
  &:hover,
  &:active,
  &:focus{
    outline: none;
  }
}

*,
*:before,
*:after {
  outline: none;
}


.schedule {
  &-container {
    @include size(100% 100vh);
  }

  &-header {
    text-align: center;
  }

  &-title {
    position: relative;
    display: inline-block;
    padding: 0 7px;
    font-size: $font-size-lg;
    line-height: $schedule-header-height;
    color: $gray-base;

    &:after {
      content: '';
      @include absolute(null null 0 50%);
      transform: translateX(-50%);
      @include size(100% 2px);
      background: $gray-base;
    }
  }

  &-body {
    height: 700px;
    background: $gray-bg;
  }
}

.schedule-table {
  overflow-y: auto;

  &-header {
    position: relative;
    @include size(100% $schedule-header-height);
    text-align: right;

    > .day {
      @include absolute-center;
      color: $gray-text-color;
      font: {
        size: $font-size-base;
        weight: $font-weight-normal;
      }
    }

    > .buttons {
      display: flex;
      height: $schedule-header-height;
      justify-content: flex-end;
      align-items: center;
      font-size: 0;

      .btn {
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }

  &-body{
    display: flex;
    min-width: 1024px;
    overflow: hidden;
  }

  &-rule {
    @include absolute(2px null null 0);
    margin-top: $table-head-height;
    background-color: $global-color;
    z-index: 10;

    &:after{
      content: '';
      @include absolute(0 0 null null);
      @include size(100% 1px);
      background-color: transparent;
    }

    div{
      position: relative;
      width: 70px;
      height: $step-height;
      font-size: $font-size-xs;
      line-height: $line-height-normal;
      color: $gray-lightest;
      text-align: right;
      top: -2px;


      &:nth-of-type(even){
        font-size: $font-size-xxs;

        span{
          top: -3px;
          &:after{
            @include size(21px 1px);
            margin-right: 1px;
          }
        }
      }

      &:nth-of-type(1){
        top: 2px;

        span{
          top: -9px;
        }
      }

      &:nth-last-of-type(1){
        height: 10px;
        margin-top: 1px;
      }

      span{
        @include absolute(-5px 0 null null);
        margin-right: 6px;

        &:after{
          content: '';
          position: relative;
          top: -3px;
          right: -6px;
          display: inline-block;
          @include size(35px 1px);
          background-color: $gray-light;
        }
      }
    }

  }

  &-content {
    position: relative;
    left: 60px;

    &-body {
      display: flex;
      height: 748px;
      border: 1px solid $gray-light;
      background-color: $global-color;

      .column {
        display: flex;
        width: $cell-width;
        min-width: $cell-width;
        flex: 1 1 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &-header {
          width: 100%;
          background-color: $gray-light;

          .name {
            line-height: $table-head-height;
            text: {
              align: center;
              transform: uppercase;
            }
            font: {
              size: $font-size-base;
              weight: $font-weight-bold;
            }
            color: $gray-text-color;
          }
        }

        & + .column {
          .add-event,
          .event {
            border-left: none;
          }
        }

        &:nth-of-type(1){
          .event,
          .add-event{
            border-left: 0;
          }
        }

        &:nth-last-of-type(1){
          .event,
          .add-event{
            border-right: 0;
          }
        }

        .event-wrapper{
          &:nth-last-of-type(1){
            .event,
            .add-event{
              border-bottom: 0;
            }
          }
        }
      }

      .event-wrapper {
        position: relative;
        width: 100%;

        &:before {
          content: '';
          @include size(100%);
          @include absolute-center;
          border: 2px solid transparent;
          transition: border-color $a-transition;
          z-index: 1;
        }

        &.active,
        &:hover {
          &:before {
            border-color: $gray-text-color;
          }
        }

        & + .event-wrapper {
          margin-top: -1px;

          .add-event,
          .event {
            border-top-color: transparent;
          }
        }
      }

      .add-event,
      .event{
        position: relative;
        width: 100%;
        padding: 0 13px 13px;
        border: 1px solid $gray-light;
        transition: $a-transition, border-color $a-transition-none, z-index $a-transition-none, height $a-transition, max-height $a-transition;
      }

      .event {
        &-header {
          display: flex;
          justify-content: space-between;
          height: 35px;
          align-items: center;

          .name,
          .level {
            font-size: $font-size-xs;
            line-height: $line-height-normal;
          }

          .name {
            color: $gray-dark;
            font-weight: $font-weight-bold;

            &.orange {
              color: $orange-color;
            }

            &.blue {
              color: $blue-color;
            }

            &.green {
              color: $green-color;
            }

            &.red {
              color: $red-color;
            }

            &.violet {
              color: $violet-color;
            }
          }

          .level {
            color: $gray-lighten;
            text-transform: uppercase;
          }
        }

        &-body {
          margin: 9px 0 0;
          padding: 0;
          list-style: none;

          li{
            display: block;
            font-size: $font-size-xs;
            color: $gray-base;

            &:nth-child(n+6) {
              display: none;
            }
          }
        }
      }

      .add-event{
        cursor: pointer;
        &:after{
          content: '';
          @include size(36px);
          background-color: $gray-light;
          @include absolute-center;
          border-radius: 50%;
        }

        >i{
          &:before{
            @include absolute-center;
            font-size: 20px;
            color: $global-color;
            z-index: 1;
          }
        }
      }
    }
  }
}

.btn {
  &,
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.btn-dark {
  min-width: 95px;
  padding: 4px 13px;
  background-color: $gray-text-color;
  color: $global-color;
  font: {
    size: $font-size-base;
    weight: $font-weight-normal;
  }
  border-radius: 30px;
  text-align: center;
  @include transition-willChange(background-color);

  &:hover {
    background-color: lighten($gray-text-color, 10%);
    color: $global-color;
  }
}

.minutes-30{
  @include event-height(#{$event-height + 1px});
}
.minutes-60{
  @include event-height(#{$event-height * 2 + 1px});
}
.minutes-90{
  @include event-height(#{$event-height * 3 + 1px});
}
.minutes-120{
  @include event-height(#{$event-height * 4 + 1px});
}
.minutes-150{
  @include event-height(#{$event-height * 5 + 1px});
}
.minutes-180{
  @include event-height(#{$event-height * 6 + 1px});
}
.minutes-210{
  @include event-height(#{$event-height * 7 + 1px});
}
.minutes-240{
  @include event-height(#{$event-height * 8 + 1px});
}
.minutes-270{
  @include event-height(#{$event-height * 9 + 1px});
}
.minutes-300{
  @include event-height(#{$event-height * 10 + 1px});
}
.minutes-330{
  @include event-height(#{$event-height * 11 + 1px});
}
.minutes-360{
  @include event-height(#{$event-height * 12 + 1px});
}
.minutes-390{
  @include event-height(#{$event-height * 13 + 1px});
}
.minutes-420{
  @include event-height(#{$event-height * 14 + 1px});
}
.minutes-450{
  @include event-height(#{$event-height * 15 + 1px});
}
.minutes-480{
  @include event-height(#{$event-height * 16 + 1px});
}
.minutes-510{
  @include event-height(#{$event-height * 17 + 1px});
}
.minutes-540{
  @include event-height(#{$event-height * 18 + 1px});
}
.minutes-570{
  @include event-height(#{$event-height * 19 + 1px});
}
.minutes-600{
  @include event-height(#{$event-height * 20 + 1px});
}

.minutes-30,
.minutes-60{
  .event-header{
    height: inherit;
  }
  .event-body{
    display: none;
  }
}

.minutes-30{
  &.add-event{
    &:after{
      @include size(22px);
    }
    >i{
      &:before{
        font-size: $font-size-xs;
      }
    }
  }
}

.minutes-90{
  .event-body{
    li:nth-child(n+4) {
      display: none;
    }
  }
}

.event-wrapper{
  & + &{
    margin-top: -1px;
  }

  &:hover{
    .event-body-tooltip{
      opacity: 1;
      visibility: visible;
    }
  }
}

.event-body-tooltip{
  @include size(100% auto);
  margin: 0;
  padding: 10px;
  border-radius: $font-size-xs / 3;
  z-index: 10;
  list-style: none;
  text-align: left;

  li{
    display: block;
    font-size: $font-size-xs;
  }
 }

.overlay-trigger {
  transition: all 300ms ease-out;
  transition-property: background-color, color, opacity
}

.tether-element {
  z-index: 1060;
}

.pui-tooltip {
  position: relative;
  font-size: $font-size-base;
}
.overlay-placement-top .pui-tooltip {
  margin-bottom: 3px;
  padding: 5px 0;
}
.overlay-placement-bottom .pui-tooltip {
  margin-top: 3px;
  padding: 5px 0;
}
.overlay-placement-right .pui-tooltip {
  margin-left: 3px;
  padding: 0 5px;
}

.overlay-placement-left .pui-tooltip {
  margin-right: 3px;
  margin-left: -13px;
  padding: 0 5px;
}

.pui-tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  background-color: $gray-lightest-bg;
  color: $gray-base;
  text-align: center;
  border-radius: $font-size-xs / 3;
}

.pui-tooltip-caret {
  position: absolute;
  @include size(0);
  border: 5px solid transparent;
}
.overlay-placement-bottom .pui-tooltip-caret {
  left: 50%;
  top: 0;
  margin-left: -5px;
  border:{
    bottom: 5px solid $gray-lightest-bg;
    top: none;
  }
}
.overlay-placement-top .pui-tooltip-caret {
  left: 50%;
  bottom: 0;
  margin-left: -5px;
  border:{
    top: 5px solid $gray-lightest-bg;
    bottom: none
  }
}
.overlay-placement-left .pui-tooltip-caret {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border:{
    left: 5px solid $gray-lightest-bg;
    right: none;
  }
}

.overlay-placement-right .pui-tooltip-caret {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border:{
    right: 5px solid $gray-lightest-bg;
    left: none;
  }
}

.time-schedule-block{
  position: relative;

  .error-wrapper{
    text-align: left;

    @include min-sm{
      @include absolute(null null -1.2rem 1rem);
    }
  }
}

.teacher-select-block{
  position: relative;

  .error-wrapper{
    @include min-sm{
      @include absolute(1rem null null 3rem);
    }
  }
}
