.small-light-link{
  font-size: $font-size-xs;
  color: $gray-lightest;
}

.remove{
  &-students,
  &-teachers{
    h4{
      margin-bottom: 30px;
    }

    &-content{
      padding-right: 12px;
      overflow-y: auto;
    }
  }

  &-students{
    margin-bottom: 40px;

    &-content{
      @include max-sm{
        max-height: 170px;
      }
      @include min-sm{
        height: 305px;
      }
    }
  }

  &-teachers{
    &-content{
      @include min-sm{
        height: 150px;
      }
    }
  }
}

.table-select-person{
  display:block;
  width: 100%;
  min-width: 705px;
  overflow-x: auto;

  &-wrapper{
    overflow: auto;
  }

  thead {
    display: inline-block;
    @include size(100% 40px);
    background-color: $gray-light;
    border-bottom: 2px solid #ddd;

    tr{
      th{
        border-bottom: none;

        .th-wrapper{
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .buttons,
        span{
          display: inline-block;
        }

        .buttons{

          .button-up,
          .button-down{
            &.active{
              i{
                &:before{
                  color: $blue-color;
                }
              }
            }
          }

          i{
            display: block;
            height: 8px;
            margin-top: -2px;
            padding: 0 5px;
            line-height: $line-height-normal;
            font-size: $font-size-xxs;

            &:before{
              @include transition-willChange(color);
            }
          }
        }
      }
    }
  }

  tbody {
    display: inline-block;
    @include size(100% 295px);
    overflow: auto;

    tr{
      &:nth-of-type(1){
        td{
          border-top: none;
        }
      }

      td{
        &:nth-last-of-type(1){
          width: 96px;
        }
      }
    }
  }

  tr{
    th,
    td{
      &:nth-of-type(1){
        width: 90px;
      }
      &:nth-of-type(2){
        width: 145px;
      }
      &:nth-of-type(3){
        width: 117px;
      }
      &:nth-of-type(4){
        width: 130px;
      }
      &:nth-of-type(5){
        width: 128px;
      }
    }
  }

  &.teacher{
    height: 155px;

    tbody{
      tr{
        td{
          border-top: none;

          &:nth-last-of-type(1){
            width: 130px;
          }
        }
      }
    }
  }
}

.filter-block-select-student{
  &:after{
    content: '';
    display: table;
    clear: both;
  }

  div{

    @media screen and (min-width: 768px) {
      float: left;

      & + div{
        margin-left: 10px;
      }

      &:nth-last-of-type(1){
        margin-left: 10px;
      }
    }
  }

  .filter-style{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;

    @media screen and (min-width: 768px) {
      width: 123px;
      margin-bottom: 0;
    }

    .caret{
      @include absolute(50% 12px null null);
      transform: translateY(-50%);
    }
  }
}

.panel{
  &-selected-students{
    @include min-sm{
      height: 629px;
    }
  }

  &-confirm{
    position: relative;
    height: 170px;

    @include min-sm{
      height: 260px;
    }

    .panel-body{
      @include absolute-center;
    }
  }
}
