// colors

$global-color:          #fff !default;
$gray-text-color:       #8d9aaf !default;
$gray-bg:               #f5fafb !default;
$gray-base:             #192943 !default;
$gray-dark:             $gray-base !default;
$gray-light:            #ebf0f1 !default;
$gray-lighten:          #c8c8c8 !default;
$gray-lightest:         #afafaf !default;
$gray-lightest-bg:      #f7f7f7 !default;
$orange-color:          #f5a623 !default;
$blue-color:            #4a90e2 !default;
$green-color:           #7ed321 !default;
$red-color:             #d0021b !default;
$violet-color:          #9620ff !default;

// fonts

$font-size-base:        14px !default;
$font-size-lg:          18px !default;
$font-size-xs:          12px !default;
$font-size-xxs:         10px !default;

$font-weight-bold:      bold !default;
$font-weight-normal:    normal !default;
$line-height-normal:    1 !default;

// etc
$a-transition:          .25s ease-in-out !default;
$a-transition-none:     0s;

// sizes
$cell-width:              160px;
$aside-width:             70px !default;
$schedule-header-height:  65px  !default;
$event-height:            35px !default;
$table-head-height:       45px !default;
$step-height:             $event-height;


// screen
$sm:                      767px !default;