<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('inquired_users') %></h3>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-body p-t-0">
          <div class="input-group">
            <input type="text"
                   id="user-search-input"
                   name="example-input1-group2"
                   class="form-control"
                   placeholder="<%= t('search') %>"
                   value="<%= @search_term %>"
                   data-controller-name="inquired_users"
                   >
            <span class="input-group-btn">
              <button type="button" id="user-search-input-btn" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('users') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t('first_name') %></th>
                    <th><%= t('last_name') %></th>
                    <th><%= t('email') %></th>
                    <th><%= t('requested_pricing_plan') %></th>
                    <th><%= t('registration_date') %></th>
                    <th><%= t('requested_start_date') %></th>
                    <th><%= t('roles') %></th>
                    <th><%= t('actions') %></th>
                  </tr>
                </thead>

                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= user.first_name %></td>
                      <td><%= user.last_name %></td>
                      <td><%= user.email %></td>
                      <td><%= user.registration_information.pricing_plan.name %></td>
                      <td><%= user.registration_information.created_at.strftime('%-m/%-d/%Y').strip %></td>
                      <td><%= user.registration_information.starting_date.strftime('%-m/%-d/%Y').strip %></td>
                      <td><%= user.roles.pluck(:name).map(&:humanize).join(', ') %></td>
                      <td>
                        <%= link_to t('view'), user_path(user), class: 'btn btn-sm btn-success' %>
                        <%= link_to t('assign_start_date'), new_pricing_plan_plan_enrollment_path(user.registration_information.pricing_plan, user_id: user.id), class: 'btn btn-sm btn-primary' %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <section class="pull-right">
        <%= paginate @users %>
      </section>
    </div>
  </div>
</div>
