<div class="wraper container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @account.name %> - <%= t('registration_form') %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= form_tag registration_forms_student_registrations_path do %>
              <%= hidden_field_tag :account_id, @account.id %>
              <h5>*= required field</h5>

              <h4><%= t('sign_up_below_to_get_started_with_classes') %></h4>
              <hr />
              <div class="form-group">
                <%= label_tag 'user[first_name]', "#{t('first_name')}*" %>
                <%= text_field_tag 'user[first_name]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[last_name]', "#{t('last_name')}*" %>
                <%= text_field_tag 'user[last_name]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[email]', "#{t('email')}*" %>
                <%= email_field_tag 'user[email]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'registration_information[starting_date]', "#{t('starting_date')}*" %>
                <%= date_field_tag 'registration_information[starting_date]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'registration_information[sign_up_period]', "#{t('how_many_weeks_would_you_like_to_sign_up_for')}" %>
                <%= select_tag 'registration_information[sign_up_period]', options_for_select([12, 8, 6, 4, 3, 2, 1]), { required: true, class: 'form-control' }%>
              </div>

              <div class="form-group">
                <%= label_tag 'registration_information[pricing_plan_id]', "#{t('what_would_you_like_to_sign_up_for')}*" %>
                <%= select_tag 'registration_information[pricing_plan_id]', options_for_select(@account.pricing_plans.collect { |pricing_plan| [pricing_plan.name, pricing_plan.id] }), { class: 'form-control' } %>
              </div>

              <br />

              <h4><%= t('class_schedule') %></h4>
              <hr />
              <p><%= t('we_do_our_best_to_meet_all_schedule_requests_but_cannot_guarantee_you_will_be_offered_your_preference') %></p>
              </br>
              <div class="form-group">
                <%= label_tag 'user[class_schedule_preference]', "#{t('i_prefer_to_take_classes')}*" %>
                <%= select_tag 'user[class_schedule_preference]', options_for_select([['In the morning', 'morning'], ['In the afternoon', 'afternoon'], ['I am flexible', 'both']]), { class: 'form-control' } %>
              </div>

              <br/ >
              <h4><%= t('personal_background') %></h4>
              <hr />
              <div class="form-group">
                <%= label_tag 'registration_information[current_level_description]', "#{t('describe_your_current_level_of_spanish')}*" %>
                <%= text_area_tag 'registration_information[current_level_description]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[country]', "#{t('country')}*" %>
                <%= country_select 'user[country]', nil, { include_blank: true }, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[phone]', "#{t('phone')}*" %>
                <%= text_field_tag 'user[phone]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[gender]', "#{t('gender')}*" %>
                <%= select_tag 'user[gender]', options_for_select(User.gender_options), class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[passport_number]', t('passport_number') %>
                <%= text_field_tag 'user[passport_number]', nil, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[birth_date]', "#{t('birth_date')}*" %>
                <%= date_field_tag 'user[birth_date]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[emergency_contact_name]', "#{t('emergency_contact_name')}*" %>
                <%= text_field_tag 'user[emergency_contact_name]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'user[emergency_contact_number]', "#{t('emergency_contact_number')}" %>
                <%= text_field_tag 'user[emergency_contact_number]', nil, class: 'form-control' %>
              </div>

              <br />
              <h4><%= t('housing') %></h4>
              <hr />
              <p><%= t('housing_student_registration_description') %></p>
              <br />
              <div class="form-group">
                <%= label_tag 'registration_information[housing_information]', t('where_will_you_be_staying') %>
                <%= select_tag 'registration_information[housing_information]',
                    options_for_select(["A dorm bed at the school's neighboring hostel (Cost 175.000COP per week)",
                                        "A local host (Cost 300.000COP per week; 1080.000 COP per month)",
                                        "A private room in an apartment nearby (cost varies)",
                                        "I will find my own housing"]),
                      class: 'form-control' %>
              </div>

              <br />
              <h4><%= t('coaching') %></h4>
              <hr />
              <p><%= t('coaching_registration_form_description') %></p>
              <br />

              <div class="form-group">
                <%= label_tag 'registration_information[coaching_sessions_per_week]', t('how_many_coaching_sessions_would_you_like_for_your_first_week') %>
                <%= select_tag 'registration_information[coaching_sessions_per_week]', options_for_select([12, 8, 6, 4, 3, 2, 1, 0]), class: 'form-control' %>
              </div>

              <br />
              <h4><%= t('background') %></h4>
              <hr />

              <div class="form-group">
                <%= label_tag 'registration_information[how_did_you_hear_about_us]', "#{t('how_did_you_hear_about_us')}*" %>
                <%= text_area_tag 'registration_information[how_did_you_hear_about_us]', nil, required: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'registration_information[why_did_you_choose_us]', t('we_re_glad_you_decided_to_study_with_us_why_did_you_choose_us_over_other_choices') %>
                <%= text_area_tag 'registration_information[why_did_you_choose_us]', nil, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= label_tag 'registration_information[anything_else]', t('anything_else') %>
                <%= text_area_tag 'registration_information[anything_else]', nil, class: 'form-control' %>
              </div>

              <% terms_of_service = @account.terms_of_services.where(default: true).first %>

              <% if terms_of_service %>
                <br />
                <h4><%= t('terms_of_services') %></h4>
                <hr />

                <div class="terms-of-service-container">
                  <%= simple_format(terms_of_service.body) %>
                </div>

                <div class="checkbox">
                  <label>
                    <%= check_box_tag 'terms_of_service_agreement[agree]', true, false, required: true %>
                    <%= t('i_have_read_and_agree_to_the_terms_of_service') %>
                  </label>
                </div>

                <br />
               <% end %>


              <%= submit_tag t('submit'), class: 'btn btn-success'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
