<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('teacher_reports') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <%= form_tag report_teachers_path, method: :get, class: 'form-inline' do %>
          <div class="form-group">
            <%= label_tag :start_on, '', class: 'sr-only' %>
            <%= text_field_tag :start_on, @start_on.strftime('%m/%d/%Y'), placeholder: t('start_on'), id: 'pick_a_date_start_date', class: 'form-control pick-a-date-start-end-time' %>
          </div>

          <div class="form-group">
            <%= label_tag :end_on, '', class: 'sr-only' %>
            <%= text_field_tag :end_on, @end_on.strftime('%m/%d/%Y'), placeholder: t('end_on'), id: 'pick_a_date_end_date', class: 'form-control pick-a-date-start-end-time' %>
          </div>

          <%= submit_tag t('filter'), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('teacher_reports') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t('first_name') %></th>
                    <th><%= t('last_name') %></th>
                    <th><%= t('hours_worked') %></th>
                  </tr>
                </thead>
                  <% @teachers.each do |teacher| %>
                    <tr>
                      <td><%= teacher.first_name %></td>
                      <td><%= teacher.last_name %></td>
                      <% hours_worked = teacher.teaching_classes.in_between(@start_on, @end_on).map(&:in_seconds).inject(:+) %>
                      <%
                        hours_worked_str = if hours_worked
                                             seconds = hours_worked.to_i
                                             hours = seconds / 3600
                                             seconds -= hours * 3600
                                             minutes = seconds / 60
                                             seconds -= minutes * 60
                                             "#{hours} hours, #{minutes} minutes and #{seconds} seconds"
                                           else
                                             'N/A'
                                           end
                      %>
                      <td><%= hours_worked_str %></td>
                    </tr>
                  <% end %>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
