<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('terms_of_services') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('terms_of_services') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><%= t('name') %></th>
                    <th><%= t('number_of_students') %></th>
                    <th><%= t('default') %></th>
                  </tr>
                </thead>

                <tbody>
                  <% @terms_of_services.each do |terms_of_service| %>
                    <tr class="clickable-row" data-href="<%= terms_of_service_url(terms_of_service) %>">
                      <td><%= terms_of_service.name %></td>
                      <td><%= terms_of_service.users.uniq.count %></td>
                      <td><%= terms_of_service.default? %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
