<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= @terms_of_service.name %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline">
        <li><%= link_to t('edit'), edit_terms_of_service_path(@terms_of_service), class: 'btn btn-info'  %></li>
        <li><%= link_to t('delete'), terms_of_service_path(@terms_of_service), method: :delete, class: 'btn btn-danger', data: { confirm: t('are_you_sure') } %></li>
      </ul>
      <br>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-6 col-md-3">
      <div class="panel">
        <div class="h2 text-primary"><%= @terms_of_service.users.uniq.count %></div>
        <span class="text-muted"><%= t('accepted_users_count') %></span>
        <div class="text-right">
          <i class="fa fa-user fa-2x text-primary"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-8"></div>
  </div>

  <div class="page-title">
    <h3 class="title"><%= t('occupants') %></h3>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="portlet">
        <div class="portlet-heading">
          <h3 class="portlet-title text-dark text-uppercase"><%= t('remove_users_from_role') %></h3>
        </div>

        <div class="panel-collapse collapse in">
          <div class="portlet-body">
            <ul class="list-group list-group-lg">
              <% @terms_of_service.users.each do |user| %>
                <li class="list-group-item b-0">
                  <%= link_to user_path(user), class: 'm-r-10' do %>
                    <%= image_tag user.avatar.url(:thumb), class: 'thumb-sm br-radius' %>
                  <% end %>
                  <%= link_to user.full_name, user_path(user) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
