<!-- Header -->
<header class="top-head container-fluid">
  <button type="button" class="navbar-toggle pull-left">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <!-- Search -->
  <form id="header-search-input" role="search" class="navbar-left app-search pull-left hidden-xs">
    <input type="text" placeholder="Search..." class="form-control">
  </form>

  <!-- Right navbar -->
  <ul class="list-inline navbar-right top-menu top-right-menu">
    <!-- user login dropdown start-->
    <li class="dropdown text-center">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <%= image_tag current_user.avatar.url(:thumb), class: 'img-circle profile-img thumb-sm' %>
        <span class="username" id="navbar-username" data-user-id="<%= current_user.id %>"><%= current_user.full_name %> </span> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu extended pro-menu fadeInUp animated" tabindex="5003" style="overflow: hidden; outline: none;">
        <li>
          <%= link_to user_path(current_user) do %>
            <i class="fa fa-briefcase"></i> <%= t('profile') %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i> <%= t('log_out') %>
          <% end %>
        </li>
      </ul>
    </li>
    <!-- user login dropdown end -->
  </ul>
  <!-- End right navbar -->
</header>
<!-- Header Ends -->
