<aside class="left-panel">
  <div class="logo">
    <%= link_to root_path, class: 'logo-expanded' do %>
      <span class="nav-label">SchoolBooks</span>
    <% end %>
  </div>

  <nav class="navigation">
    <ul class="list-unstyled">
      <li class="<%= 'active' if controller_name == 'home' %>">
        <%= link_to root_path do %>
          <i class="ion-home"></i> <span class="nav-label"><%= t('dashboard') %></span>
        <% end %>
      </li>

      <li class="has-submenu <%= 'active' if controller_name.in?(%w(users inquired_users)) %>">
        <a href="#"><i class="ion-person"></i> <span class="nav-label"><%= t('users') %></span></a>
        <ul class="list-unstyled">
          <li class="<%= 'active' if controller_name == 'users' && action_name == 'index' %>"><%= link_to t('all_users'), users_path %></li>
          <li class="<%= 'active' if controller_name == 'inquired_users' && action_name == 'index' %>"><%= link_to t('inquired_users'), inquired_users_path %></li>
          <li class="<%= 'active' if controller_name == 'users' && action_name == 'new' %>"><%= link_to t('add_a_new_user'), new_user_path %></li>
        </ul>
      </li>

      <li class="has-submenu <%= 'active' if controller_name == 'todos' %>">
        <a href="#"><i class="ion-checkmark-round"></i> <span class="nav-label"><%= t('todos') %></span></a>
        <ul class="list-unstyled">
          <li class="<%= 'active' if controller_name == 'todos' && action_name == 'index' %>"><%= link_to t('all_todos'), user_todos_path(current_user) %></li>
          <li class="<%= 'active' if controller_name == 'todos' && action_name == 'new' %>"><%= link_to t('add_a_new_todo'), new_user_todo_path(current_user) %></li>
        </ul>
      </li>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'levels' %>">
          <a href="#"><i class="ion-levels"></i> <span class="nav-label"><%= t('levels') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'levels' && action_name == 'index' %>"><%= link_to t('all_levels'), levels_path %></li>
            <li class="<%= 'active' if controller_name == 'levels' && action_name == 'new' %>"><%= link_to t('add_a_new_level'), new_level_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'rooms' %>">
          <a href="#"><i class="ion-android-system-home"></i> <span class="nav-label"><%= t('rooms') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'rooms' && action_name == 'index' %>"><%= link_to t('all_rooms'), rooms_path %></li>
            <li class="<%= 'active' if controller_name == 'rooms' && action_name == 'new' %>"><%= link_to t('add_a_new_room'), new_room_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'housings' %>">
          <a href="#"><i class="ion-ios7-home-outline"></i> <span class="nav-label"><%= t('housings') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'housings' && action_name == 'index' %>"><%= link_to t('all_housings'), housings_path %></li>
            <li class="<%= 'active' if controller_name == 'housings' && action_name == 'new' %>"><%= link_to t('add_a_new_housing'), new_housing_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'events' %>">
          <a href="#"><i class="ion-ios7-bookmarks"></i> <span class="nav-label"><%= t('events') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'events' && action_name == 'index' %>"><%= link_to t('all_events'), events_path %></li>
            <li class="<%= 'active' if controller_name == 'events' && action_name == 'new' %>"><%= link_to t('add_a_new_event'), new_event_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'pricing_plans' %>">
          <a href="#"><i class="ion-ios7-calculator-outline"></i> <span class="nav-label"><%= t('pricing_plans') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'pricing_plans' && action_name == 'index' %>"><%= link_to t('all_plans'), pricing_plans_path %></li>
            <li class="<%= 'active' if controller_name == 'pricing_plans' && action_name == 'new' %>"><%= link_to t('add_a_new_plan'), new_pricing_plan_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'roles' %>">
          <a href="#"><i class="ion-steam"></i> <span class="nav-label"><%= t('roles') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'roles' && action_name == 'index' %>"><%= link_to t('all_roles'), roles_path %></li>
            <li class="<%= 'active' if controller_name == 'roles' && action_name == 'new' %>"><%= link_to t('add_a_new_role'), new_role_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'class_schedules' %>">
          <a href="#"><i class="ion-calendar"></i> <span class="nav-label"><%= t('schedules') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'class_schedules' && action_name == 'index' %>"><%= link_to t('all_schedules'), class_schedules_path %></li>
            <li class="<%= 'active' if controller_name == 'class_schedules' && action_name == 'new' %>"><%= link_to t('add_a_new_schedule'), new_class_schedule_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller == 'report_teachers' %>">
          <a href="#"><i class="ion-clipboard"></i> <span class="nav-label"><%= t('reports') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'report_teachers' && action_name == 'index' %>"><%= link_to t('teacher_reports'), report_teachers_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name.in?(%w(payments payment_items)) %>">
          <a href="#"><i class="ion-cash"></i> <span class="nav-label"><%= t('payments') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'payments' && action_name == 'index' %>"><%= link_to t('all_payments'), payments_path %></li>
            <li class="<%= 'active' if controller_name == 'payment_items' && action_name == 'index' %>"><%= link_to t('payment_items'), payment_items_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? && current_account.has_registration_form? %>
        <li class="has-submenu <%= 'active' if controller_name == 'registration_forms' %>">
          <a href="#"><i class="ion-compose"></i> <span class="nav-label"><%= t('registration_form') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'registration_forms' && action_name == 'show' %>"><%= link_to t('registration_form'), registration_form_path(current_account.registration_form) %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'terms_of_services' %>">
          <a href="#"><i class="ion-document-text"></i> <span class="nav-label"><%= t('terms_of_services') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'terms_of_services' && action_name == 'index' %>"><%= link_to t('all_terms_of_services'), terms_of_services_path %></li>
            <li class="<%= 'active' if controller_name == 'terms_of_services' && action_name == 'new' %>"><%= link_to t('add_new_terms_of_service'), new_terms_of_service_path %></li>
          </ul>
        </li>
      <% end %>

      <% if current_user.admin? %>
        <li class="has-submenu <%= 'active' if controller_name == 'integrations' %>">
          <a href="#"><i class="ion-ios7-loop"></i> <span class="nav-label"><%= t('integrations') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'integrations' && action_name == 'index' %>"><%= link_to t('all_integrations'), integrations_path %></li>
            <li class="<%= 'active' if controller_name == 'integrations' && action_name == 'new' %>"><%= link_to t('new_integration'), new_integration_path %></li>
          </ul>
        </li>
      <% end %>

      <% if policy(current_user.account).show? %>
        <li class="has-submenu <%= 'active' if controller_name.in?(%w(accounts account_subscriptions)) %>">
          <a href="#"><i class="ion-locked"></i> <span class="nav-label"><%= t('account') %></span></a>
          <ul class="list-unstyled">
            <li class="<%= 'active' if controller_name == 'accounts' && action_name == 'show' %>"><%= link_to t('account'), account_path(current_account) %></li>
            <li class="<%= 'active' if controller_name == 'account_subscriptions' && action_name == 'show' %>"><%= link_to t('subscription'), account_subscription_path(current_account.account_subscription) %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>
