<!DOCTYPE html>
<html>
  <head>
    <title>SchoolBooks</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag(
      'https://js.stripe.com/v2/',
      'application',
      data: {
        'turbolinks-track': :reload,
        'pace-options': '{ "restartOnRequestAfter": true, "ajax": { "trackMethods": ["GET", "POST"] } }'
      }
      ) %>
    <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
  </head>

  <body>
    <%= render 'layouts/side_nav' %>
    <section class="content">
      <%= render 'layouts/header' %>
      <% if flash.present? %>
        <%= flash_messages unless devise_controller? %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </section>
  </body>
</html>
