<!DOCTYPE html>
<html>
  <head>
    <title>SchoolBooks</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cuprum:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">

    <% if devise_controller? %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag    'landing/application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'landing/application', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/landing/header' unless devise_controller? %>
    <%= yield %>
    <%= render 'layouts/landing/footer' unless devise_controller?%>
  </body>
</html>
