<%= form_for account, html: { class: 'cmxform form-horizontal tasi-form' } do |f| %>
  <% if account.new_record? %>
    <% account.build_account_subscription %>
    <%= f.fields_for :account_subscription do |as| %>
      <div class="form-group">
        <%= as.label :subscription_plan_id, t('subscription_plan'), class: 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= as.select :subscription_plan_id, SubscriptionPlan.name_collection, {}, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address2, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address2, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :city, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :state, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :zip_code, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :code, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.country_select :country, nil, { include_blank: true }, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :currency, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :currency, PricingPlan.currency_collection, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :invoices_sent_on, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :invoices_sent_on, Account.invoices_sent_on_collection, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :payments_due_on, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :payments_due_on, Account.payments_due_on_collection, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :time_zone, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.time_zone_select :time_zone, nil, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :has_registration_form, t('student_registration_form'), class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :has_registration_form, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit t('save'), class: 'btn btn-success' %>
      <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

