<div class="wraper container-fluid">
  <div class="page-title">
    <h3 class="title"><%= t('account') %></h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @account.name %></h3>
        </div>
        <div class="panel-body">
          <div class="form">
            <%= render partial: 'accounts/form', locals: { account: @account }%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
